<!--
  templateType: blog
  isAvailableForNewContent: true
  label: Articles and resources - blog listing
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% extends './layouts/base-member.html' %}

{% block body %}
{% set my_tags = blog_tags('default', 250) %}

<!-- {% set urlParams = request.query %}

{{urlParams|split("&")|split("=")}} -->

{% set urlTags = [] %}

{% set tagsWithParams = [] %}
{% if request.query_dict.tag1 %}
  {% do urlTags.append(request.query_dict.tag1) %}
  {% do tagsWithParams.append({'tag': 'tag1', 'tagname':request.query_dict.tag1}) %}
{% endif %}
{% if request.query_dict.tag2 %}
  {% do urlTags.append(request.query_dict.tag2) %}
  {% do tagsWithParams.append({'tag': 'tag2', 'tagname':request.query_dict.tag2}) %}
{% endif %}
{% if request.query_dict.tag3 %}
  {% do urlTags.append(request.query_dict.tag3) %}
  {% do tagsWithParams.append({'tag': 'tag3', 'tagname':request.query_dict.tag3}) %}
{% endif %}
{% if request.query_dict.tag4 %}
  {% do urlTags.append(request.query_dict.tag4) %}
  {% do tagsWithParams.append({'tag': 'tag4', 'tagname':request.query_dict.tag4}) %}
{% endif %}
{% if request.query_dict.tag5 %}
  {% do urlTags.append(request.query_dict.tag5) %}
  {% do tagsWithParams.append({'tag': 'tag5', 'tagname':request.query_dict.tag5}) %}
{% endif %}

{# in case client wants sixth tag for articles and resources #}
{% if request.query_dict.tag6 %}
  {% do urlTags.append(request.query_dict.tag6) %}
  {% do tagsWithPrams.append({'tag': 'tag6', 'tagname':request.query_dict.tag6}) %}
{% endif %}


{% set seq_to_string = urlTags|join('|') %}

{#{% if seq_to_string is string_containing 'Articles' %}
  {{tag}}
{% endif %} #}

{% set filterTagLowercase = [] %}
{# get urltags in lower case #}
{% for urlTag in urlTags%}
   {% do filterTagLowercase.append(urlTag|lower|replace(" ", "-")) %}
{% endfor %}

aaa: {{urlTags}}

bbb: {{filterTagLowercase}}
{#{% set tagged_posts = blog_recent_tag_posts('default', ["Tools", "Research"]) %}
{% for tag_post in tag_posts %}
    <div class="post-title">{{ tag_post.name }}</div>
{% endfor %} #}
{% set tag_posts = blog_recent_tag_posts("default", filterTagLowercase, "OR") %}
{% for tag_post in tag_posts %}
    <div class="post-title">{{ tag_post.name }}</div>
{% endfor %}

<p>
  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
</p>
<style>
  .article-tags li{
    cursor: pointer;
  }
 .article-tags li.active {
   color: green;
   font-weight: bold;
  }
</style>
<main class="body-container-wrapper"> 
  <div class="content-wrapper">
     <h1>Binod articles</h1>
   {# <p>$$$$$
    </p>
    {% for tag in my_tags %}
     <a class="blog-listing__post-tag" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>{% if not loop.last %}<span>, </span>{% endif %}
    {% endfor %}
    
     <p>
      $$$$$
    </p> #}
    
    {% set articlesTags = [] %}
   
      {% for tag in my_tags %}
              {% set order = "" %}
              {% if tag.name == "Articles" %}
                  {% set order = 1 %}
              {% elif tag.name == "Tools" %}
                  {% set order = 2 %}
              {% elif tag.name == "Case studies" %}
                  {% set order = 3 %}
              {% elif tag.name == "Videos" %}
                  {% set order = 4 %}
              {% elif tag.name == "Research"  %}
                  {% set order = 5 %}
            {% endif %}
            {% if order != "" %}
              {% do articlesTags.append({"tagname" : tag.name, "order": order }) %}
            {% endif %}
       {# <a class="blog-listing__post-tag" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>{% if not loop.last %}<span>, </span>{% endif %}#}
      {% endfor %}
    
    {#{{articlesTags}} #}
    {% set articlesTagsInOrder = articlesTags|sort(False, False, 'order') %} 
    
     <p>
      ***************************************
    </p>
      <ul class="no-list no-padding flex article-tags">
         {% for item in articlesTagsInOrder %}
            <li style="margin-right: 15px;" class="{% if seq_to_string is string_containing item.tagname %}active{% endif %}">{{item.tagname}}</li>
        {% endfor %}
        <button type="button" class="apply-filter hs-button primary">Apply filter</button>
      </ul>
    <p>
      ***************************************
    </p>
    
  
    <form action="https://demo.ec7.co/articles-and-resources" id="articles-resources-tag-form" method="GET" class="override-style-form">
            <!--<button class="hs-button primary">Search articles</button> -->
      {% if  tagsWithParams|length > 0 %}
        {% for item in tagsWithParams %}
          <input type="hidden" name="{{item.tag}}" value="{{item.tagname}}" >
        {% endfor %}
      {% endif %}
    </form>
    
 
    
    
    <div class="articles-resources-listing" style="margin-top: 30px;">
    
      {% for content in contents %}
        <div>
          {{ content.name }}
          Tag name:
              {% if content.tag_list %}
                {% for tag in content.tag_list %}
                  {{ tag.name }}{% if not loop.last %},{% endif %}
                {% endfor %}
            {% endif %} 
        </div>
     {% endfor %}
    </div>
      
  </div>
 
</main>
<script>
 $(document).ready(function() {
    $(".article-tags li").click(function(e) {
      e.preventDefault();
        var liIndex = $(this).index();
        var count = parseInt(liIndex) + 1;
        if($(this).hasClass("active")) {
           $(this).removeClass("active");
           removeHiddenInputTagFromForm(count);
        }else{
          $(this).addClass("active");
            var tagname = $(this).text();
            var inputHidden = '<input type="hidden" name="tag'+count+'" data-list="'+liIndex+'" value="'+tagname+'">';
            $("#articles-resources-tag-form").append(inputHidden);
        }
     
    });
   
   function removeHiddenInputTagFromForm(index) {
     $("#articles-resources-tag-form input[name='tag" +index+ "']").remove();
   }
   
   $(".apply-filter").click(function() {
      $("#articles-resources-tag-form").submit();
   });
 });
</script>
{% endblock body %}
