<!--
  templateType: membership_login_page
  isAvailableForNewContent: true
  label: Kind Medical - Member login
  screenshotPath: ../../images/template-previews/member-login.png
-->
{% extends  "../layouts/base-auth.html"  %}

{% block body %}
<section class="login-container member-login">
    <div class="container-wrap">
        {# Membership login form #}
        <div class="form-container login-form">
          <div class="form-title text-center">
            <h4>
              Member sign in
            </h4>
            <span class="helper">Your password has been set, please login below.</span>
          </div>
       
            {% member_login 'my_login'
            email_label= 'Email',
            password_label= 'Password',
            remember_me_label= 'Remember Me',
            reset_password_text= 'Forgot your password?',
            submit_button_text= 'Sign in'
            %}
        </div>

        {# Membership contact admin message #}

        {#<div>
            {% module_block module 'membership_admin_content'
            label='Contact admin',
            path='@hubspot/rich_text'
            %}
            {% module_attribute 'html' %}
            <p>Having trouble? <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">Contact the admin</a>.</p>
            {% end_module_attribute %}
            {% end_module_block %}
        </div> #}
    </div>
</section>
{% endblock %}