<!--
  templateType: membership_register_page
  isAvailableForNewContent: true
  label: Kind Medical- Member registration
  screenshotPath: ../../images/template-previews/member-registration.png
-->

{% extends '../layouts/base-auth.html' %}


{% block body %}
<section class="">
    <div class="container-wrap">
        {# Membership register form #}
        <div class="form-container register-form">
          <div class="form-title text-center">
            <h4>Create Password</h4>
            <span class="helper dark-accent"><b>Your Password must include at least:</b><br/> <span class="pass-info light-tertiary">8 characters, 3 uppercase, 3 lowercase, 1 number or symbol</span></span>
          </div>
          
            {% member_register 'my_register'
            email_label='Email address',
            password_confirm_label='Confirm password',
            password_label='Password',
            submit_button_text='Save password'
            %}
        </div>
      
    </div>
</section>
{% endblock %}