<!--
  templateType: page
  isAvailableForNewContent: true
  label: Kind Medical - membership access denied
  screenshotPath: ../../images/template-previews/membership-access-denied.png
-->
{% extends "../layouts/base-auth.html" %}

{% block header %}
{% endblock %}

{% block body %}
<section class="content-wrapper">
  <div class="error-page membership-access-denied" data-error="403">

    {% module "access_denied_heading"
      path="@hubspot/rich_text",
      html="<h2>Sorry, you don't have access</h2>"
    %}

    {% module "access_denied_description"
      path="@hubspot/rich_text",
      html="<p>You don't have permission to view this page.</p>
       <p>Please contact the site administrator<a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">link</a>.</p>"
    %}

    {% module "access_denied_button"
      path="../../modules/button",
      button_text="Go to page",
      button_link={
        "url": {
          "type": "EXTERNAL",
          "href": "/_hcsm/mem/login"
        }
      }
    %} 

  </div>
</section>
{% endblock body %}
