<!--
  templateType: error_page
  isAvailableForNewContent: false
  label: Kind Medical - membership access denied
  screenshotPath: ../../images/template-previews/membership-access-denied.png
-->
{% extends "../layouts/base-auth.html" %}

{% block header %}
{% endblock %}

{% block body %}
<section class="content-wrapper">
  <div class="error-page" data-error="403">

    {% module "access_denied_heading"
      path="@hubspot/rich_text",
      html="<h1>Sorry, you don't have access</h1>"
    %}

    {% module "access_denied_description"
      path="@hubspot/rich_text",
      html="<p>You don't have permission to view this page. Contact the site's administrator for questions.</p>"
    %}

    {% module "access_denied_button"
      path="../../modules/button",
      button_text="Go to home page",
      button_link={
        "url": {
          "type": "EXTERNAL",
          "href": "/"
        }
      }
    %}

  </div>
</section>
{% endblock body %}
