<!--
  templateType: membership_reset_request_page
  isAvailableForNewContent: true
  label: Kind Medical - reset password request
  screenshotPath: ../../images/template-previews/reset-password-request.png
-->
{% extends '../layouts/base-auth.html' %}

{% block body %}
<section class="password-reset-request-container">
    <div class="container-wrap">
  
        {# Membership reset password request form #}

        <div class="form-container password-reset-request-form">
           <div class="form-title text-center">
            <h4>
              Reset your password
            </h4>
          </div>
            {% password_reset_request 'my_password_reset_request'
            email_label='Email',
            submit_button_text='Send reset email'
            %}
        </div>
    </div>
</section>
{% endblock %}