<!--
  templateType: membership_reset_page
  isAvailableForNewContent: true
  label: Kind Medical - reset password
  screenshotPath: ../../images/template-previews/reset-password.png
-->
{% extends '../layouts/base-auth.html' %}

{% block body %}
<section class="password-reset-container">
    <div class="container-wrap">

        {# Membership reset password heading #}

       {# {% module 'content'
        path='@hubspot/rich_text',
        html='<h1>Reset your password</h1>
        <p>Enter a new password.</p>'
        %} #}

        {# Membership reset password form #}

        <div class="form-container password-reset-form">
           <div class="form-title text-center">
            <h4>
              Reset your password
            </h4>
            <span class="helper">Enter a new password</span>
          </div>
            {% password_reset 'password_reset_form'
            password_confirm_label='Confirm password',
            password_label='Password',
            submit_button_text= 'Save password'
            %}
        </div>
    </div>
</section>
{% endblock %}