<div class="modal open" id="onboarding-modal">
  <div class="modal-content">
    {# WELCOME INTRO #}
    <div class="welcome-intro">
      {{ module.welcome_text }}
      <div class="star-questionaire">
        <button type="button" class="star-quest-btn hs-button primary large">Next</button>
      </div>
    </div>
    
    {# QUESTIONS #}
    <form method="POST" action="" id="questionaire-form" class="override-style-form questionaire-lists hide">
      <div class="question-numbers flex justify-center">
      </div>

      <div class="questionaire-container">
        {% for row in hubdb_table_rows(11573133) %}
     
        {% set index = loop.index %}
        <div class="ques-wrap hide">
          <div class="question">
            <h4 class="mb-15">{{row.question}}</h4>
            <p class="light-tertiary">
              {% if row.option_type.name|lower == 'radio' %} Select one {% endif %}
              {% if row.option_type.name|lower == 'checkbox' %} Select all that apply {% endif %}
            </p>
            <span class="ques-helper"></span>
          </div>
          <div class="field answers">
            <div class="options">
              {# change classname and input type between radio and checkbox #}
              {% set columnNo = '' %}
              {% if index == 4  %}
                {# to change option from three column to four column, Default three column for checkbox #}
                {% set columnNo = 'four' %}
              {% endif %}
              <ul class="{{row.option_type.name|lower}}-option-lists option-lists {{columnNo}}">
                {% for option in row.options %}
                  <li class="text-option trigger">
                  <label>{{option.name}}
                    <input type="{{row.option_type.name|lower}}" class="track" name="{{row.question_internal_name}}" value="{{option.name|replace(" ", "_")|lower}}"  {% if index == 1 %} required {% endif %} />
                  </label>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% if row.add_extra_field.name== "textarea" %}
              <div class="field extra-answer text-left">
                <label class="font-bold text-grey">Something else...</label>
                <textarea rows="6" cols="50" name="{{row.question_internal_name~"_other"}}" placeholder="What other information are you interested in?"></textarea>
              </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="text-center flex button-wrap flex-col">
        <input type="submit" value="Next" class="hs-button primary large next-btn hide" >
        <button type="button" class="previous-ques" aria-label="Previous Question">
          <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 7L3 4L6 1" stroke="#666E5A" />
          </svg> Previous Question</button>
      </div>
    </form>
  </div>
</div>