<!--
  templateType: none
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  
   {#{% if !request.postDict.inpageEditorUI %}
    <script type="text/javascript">
      setTimeout(function() {
        window.location.href = "/_hcms/mem/login";
      });
    </script>
  {% endif %} #}
  {% if !request.postDict.inpageEditorUI %}
   <script type="text/javascript">
      setTimeout(function() {
        window.location.href = "/_hcms/mem/login";
      });
    </script>
  {% endif %}
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title %}
      <title>{{ page_meta.html_title }}</title>
    {% endif %}
    {% if branding_favicon %}
      <link rel="shortcut icon" href="{{ branding_favicon }}" />
    {% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {# {{ require_css(get_asset_url("../../css/main.css")) }} #}
    {# This is intended to be used if a template requires template specific style sheets #}

    {{ require_css(get_asset_url("../../css/style.css")) }} 
  
    {#{{ require_css(get_asset_url("../../css/theme-overrides.css")) }} #}
    {# To see a full list of what is included via standard_header_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_header_includes }}

  </head>
  <body>
    <div class="body-wrapper {{ builtin_body_classes }} test">
  
    </div>
    {# To see a full list of what is included via standard_footer_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_footer_includes }}
  </body>
</html>
