<div class="padding-content">
    <div class="content-wrapper">
      <div class="footer-links">
        <div class="inner flex justify-between">
          <div class="copy-right">
            {{ module.content_on_left }}
         </div>
          <div class="links">
          {% set href = module.link_group.links.url.href %}
              {% if module.link_group.links.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
              {% endif %}
              <a href="{{ href }}"
                {% if module.link_group.links.open_in_new_tab %}target="_blank"{% endif %}
                {% if module.link_group.links.rel %}rel="{{ module.link_group.links.rel }}"{% endif %}
                >
               {{ module.link_group.link_text }}
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>