.product-discounts {
  max-width: 588px;
  margin: 0 auto;
  margin-top: 50px;
}
.product-discounts .single-product .prod-name {
  font-size: 24px;
  width: 50%;
  margin-right: 3%;
}
.single-product label {
  color: #63666a;
  font-size: 12px;
  font-weight: 500;
}
.single-product {
  border-bottom: 1px solid #A1A3A6;
  padding-bottom: 25px;
  margin-bottom: 35px;
}
.single-product .prod-discount-info {
  width: 47%;
}
.product-discounts input[type='text'],
.product-discounts input[type='search'],
.product-discounts input[type='number']{
  border: 1px solid #A1A3A6;
}
.price-by-size{
  margin-right: 15px;
}

@media (max-width:576px) {
  .single-product {
    flex-direction: column;
  }
  .single-product .prod-discount-info{
    width: 100%;
  }
}