.stock-lists {
  max-width: 588px;
  margin: 0 auto;
  margin-top: 55px;
}
select {
  display: inline-block;
  width: 100% !important;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
}
.single-stock .product-name {
  width: 27%;
  margin-right: 3%;
}
.single-stock .stock-info {
  width:70%;
}
.single-stock {
  border-bottom: 1px solid #A1A3A6;
  padding-bottom: 25px;
  margin-bottom: 35px;
}

.stock-info label {
  color: #63666A;
  font-size: 12px;
  font-weight: 500;
}
.stock-info .shipment-info {
  margin-top: 15px;
}
.stock-info .shipment-info select {
  padding: 4px 10px;
  font-size: 12px;
  height: 34px;
}
.stock-info .shipment-info .col:not(:last-child) {
  margin-right: 12px;
}
.stock-info .shipment-info .shipment-col {
  width: 46%;
}
.stock-info .shipment-info .month-col
.stock-info .shipment-info .time-col {
  width: 27%;
}