<div class="multi-buttons text-center"> 
  <div class="button-wrap">
    {% for item in module.button_group %}
    {% set href = item.button_link.url.href %}
    {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
    {% endif %}
    <a href="{{ href }}"
       {% if item.button_link.open_in_new_tab %} target="_blank"{% endif %} 
       {% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
       class="hs-button white-btn-primary border-rad-32">{{ item.button_text }}
    </a>
    {% endfor %}
    <!--                  <a href="" class="hs-button white-btn-primary border-rad-32">Book a meeting</a> -->
  </div>
</div>