.compare-products .heading p {
  color: #000;
}
.compare-product-lists{
  margin-top:30px;
}
.four-col {
  width:21.0576%;
}
.four-col:not(:last-child){
  margin-right: 5.2%;
}
.compare-product-lists .col .product-name {
  background: #fff;
  padding: 10px 15px 10px 13px;
  border-radius: 24px;
  margin-bottom: 30px;
  cursor:pointer;
}
.compare-product-lists .col .product-name .name{
  color: #A76389;
  font-weight: bold;
  margin-right: 10px;
}

.cbd-percent,
.thc-percent {
  background: #805574;
  font-size: 24px;
  border-radius: 8px;
  color: #fff;
  padding: 24px 15px;
  margin-bottom: 10px;
}
