.compare-products .heading p {
  color: #000;
}
.compare-product-lists{
  margin-top:70px;
}
.four-col {
      width: 23.0576%;
}
.four-col:not(:last-child){
  margin-right: 2.5%;
}
.reported-effects,
.compare-product-lists .inner {
  margin-bottom: 70px;
}
.compare-product-lists .col .product-with-tag{
  margin-bottom: 30px;
}
.compare-product-lists .product-wrap {
  margin-bottom: 40px;
}
.compare-product-lists .col .product-name {
  background: #fff;
  padding: 10px 15px 10px 13px;
  border-radius: 24px;
  cursor:pointer;
  padding: 11px 15px 11px 13px;
  min-height: 63px;
  margin-right: 16px;
  max-width: 183px;
  box-shadow: 0 4px 38px 0 rgba(102, 110, 90,.17);
}
.compare-product-lists .col .product-name .name{
  font-weight: bold;
  margin-right: 10px;
  line-height: normal;
  font-size: 16px;
  width: 100%;
}
.compare-product-lists .col .product-name svg{
  width: 12px;
  height: 10px;
}
.pd-tag {
  height: 40px;
  width: 40px;
}

.cbd-percent,
.thc-percent {
  font-size: 24px;
  border-radius: 8px;
  color: #fff;
  padding: 24px 15px;
  margin-bottom: 10px;
  max-width: 219px; 
}

.retail-price {
  margin-bottom: 16px;
}
.retail-price span{
  font-size: 10px;
  font-weight: 400;
}
.retail-price .rrp-label{
  margin-right: 2px;
}
.retail-price .selling-price {
  font-size: 16px;
  font-weight: 700;
  margin-left: 4px;
}
.order-product .btn-order{
  color:#fff;
  padding: 9px 23px 9px;
  margin-bottom: 10px;
}
.more-product-info a {
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
}
.more-product-info a:hover{
  text-decoration: none;
}
.more-product-info svg path {
  stroke: #666E5A;
}
.dried-flower img {
  margin-right: 10px;
}
.logo-img {
  fill: yellow;
}

.stock-wrap .product-info {
  padding: 0px 0px 0px 14px;
}
.stock-wrap .product-info .helper-text {
  color: #63666A;
  font-size: 12px;
  font-weight: 400;
  display: block;
}
.stock-wrap .product-info .img-svg {
  margin-right: 15px;
}
.stock-wrap .stock-level {
  background:#fff;
  padding: 10px 10px;
  border-radius: 8px;
  min-height: 72px;
}
.stock-wrap .stock-level .stock-helper {
  font-size: 12px;
  font-weight: 400;
}
.stock-wrap .product-info .per-gram-amount .img-svg{
  margin: 0px 20px 0px 5px;
}
.reported-effects .col .row,
.stock-wrap .product-info .row{
/*   margin-bottom: 50px; */
  min-height: 84px;
}
 .stock-level-icon {
  max-width: 46px;
}
.reported-effects .heading h4{
  margin-bottom: 6px;
}
.reported-effects .heading {
  padding-bottom: 10px;
  border-bottom: 1.5px solid #DBE0D3;
}
.svg-max-width {
/*   border: 1px solid black; */
  max-width: 45px;
  width: 100%;
}








/*** color code based on potency *****/
/** HIGH THC **/
/* .high-thc .text-high-thc {
  color: #805574;
}
.high-htc .bg-high-thc{
  background: #805574;
}
.high-thc svg path{
  stroke: #805574;
}
.high-thc.favourite .pd-tag svg path{
  fill:#805574;
}
.high-thc svg rect{
  fill: #EBDBE8;
} */

/** MODERATE THC **/
/* .moderate-thc .text-moderate-thc {
  color: #B87E47;
}
.moderate-thc .bg-moderate-thc {
  background:#B87E47;
}
.moderate-thc svg path{
  stroke: #B87E47;
}
.moderate-thc.favourite .pd-tag svg path{
  fill: #B87E47;
}
.moderate-thc svg rect{
  fill: #F9E2AB;
} */

/** BALANCED THC **/
/* .balanced .text-balanced {
  color: #9CAF88;
}
.balanced .bg-balanced {
  background: #758067;
}
.balanced svg path{
  stroke: #758067;
}
.balanced.favourite .pd-tag svg path{
  fill: #758067;
}
.balanced svg rect{
  fill: #d6decfd9;
} */


/** MODERATE CBD **/
/* .moderate-cbd .text-balanced-thc {
  color: #7D9CC0;
}
.moderate-cbd .bg-moderate-cbd{
  background: #7D9CC0;
}
.moderate-cbd svg path{
  stroke: #758067;
}
.moderate-cbd.favourite .pd-tag svg path{
  fill: #7D9CC0;
}
.moderate-cbd svg rect{
  fill: #9FAD8C;
} */

/** HIGH CBD **/
/* .high-cbd .text-high-cbd {
  color: #8B84D7;
}

.high-cbd .bg-high-cbd {
  background: #5E5A80;
}
.high-cbd svg path{
  stroke: #5E5A80;
}
.high-cbd.favourite .pd-tag svg path{
  fill: #5E5A80;
}
.high-cbd svg rect{
  fill: #D9D7E9;
} */
