{% if module.styles.presets.button_style == "primary" %}
  {% set button_style = "ad-button--primary" %}
{% elif module.styles.presets.button_style == "secondary" %}
  {% set button_style = "ad-button--secondary" %}
{% elif module.styles.presets.button_style == "tertiary" %}
  {% set button_style = "ad-button--tertiary" %}
{% elif module.styles.presets.button_style == "simple" %}
  {% set button_style = "ad-button--simple" %}
{% endif %}

{% if module.styles.presets.button_size == "small" %}
  {% set button_size = "ad-button--small" %}
{% elif module.styles.presets.button_size == "large" %}
  {% set button_size = "ad-button--large" %}
{% endif %}

{% if module.icon.position == "right" %}
  {% set icon_position = "button--icon-right" %}
{% endif %}


{% require_css %}
<style>
{% scope_css %}
 .ad-button-primary {
   background: {{ theme.admin_settings.buttons.primary.background.color.color}};
   opacity: {{  theme.admin_settings.buttons.primary.background.color.opacity }};
   color: {{theme.admin_settings.buttons.primary.text.font.color}};
   font-weight: {{theme.admin_settings.buttons.primary.text.font.variant}};
   text-decoration: none;
 }
  
  .ad-button-primary.ad-button--large {
    font-size:  {{theme.admin_settings.buttons.size.small.font_size ~ "px"}};
    {{ theme.admin_settings.buttons.size.large.spacing.css }};
  }
{% end_scope_css %}
</style>
{% end_require_css %}


<div class="button-wrapper">
  <a style="position:relative" href="{{ href }}" class="button ad-button-primary ad-button--large"
    {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
    {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
  >
    
   Save product discounts
  </a>
</div>