<!--
    templateType: page
    isAvailableForNewContent: false
    label: Admin check active member account details 
   screenshotPath: ../images/template-previews/admin-active-mem-account-details.png
-->
{% extends '../layouts/base-admin.html' %}

{% block body %}

{% set contact = crm_object("contact", request.query_dict.id, 
  "firstname,lastname,hcp_type,ahpra_number,practice_name,practice_address,phone,email,
  what_information_do_you_want_from_the_portal_other,
  what_is_your_area_of_interest_relating_to_medical_cannabis_other,what_is_your_level_of_medicinal_cannabis_education,
  how_many_medicinal_cannabis_scripts_do_you_write_or_dispense_on_average_each_month,
  what_information_do_you_want_from_the_portal,what_is_your_area_of_interest_relating_to_medical_cannabis", false)
%}

<div class="notification-bar-message" style="display:none">
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
      <path d="M1.5 6L4.5 9L11.5 2" stroke="#E0E0E1" stroke-width="2"/>
    </svg>
  <p></p>
</div>
<div class="padding-content">
  <div class="submission-message"></div>
  <div class="admin-container active-member-container">
    <div class="body-content mtb-80">
        <div class="active-mem-buttons flex justify-between">
          <a href="/search-member" class="text-blue-dark font-bold no-underline back-link pos-relative flex items-center">Search for a member </a>
           <button type="button" class="deactivate-member hs-button white-btn-primary" data-target="deactivate-member-modal">
            Deactivate account
          </button>
      </div>
      <div class="inactive-mem-info mem-content-wrap">
          <div class="full-name">
            <h3 class="text-blue-dark text-center">
              {{ contact.firstname }} {{ contact.lastname }}
            </h3>
          </div>
        <form id="active_member-details-form" class="form-transparent" novalidate="novalidate">
          <div class="section form-section light-secondary-label">
            <div class="form-two-column-group">
              <div class="form-group">
                <label for="firstname">First name</label>
                <input type="text" name="firstname" id="firstname" value="{{ contact.firstname }}">
              </div>
              <div class="form-group">
                <label for="lastname">Last name</label>
                <input type="text" name="lastname" id="lastname" value="{{ contact.lastname }}">
              </div>
            </div>
            <div class="form-group custom-select md">
              <label for="hcp-type">HCP Type</label>
              <select name="hcp_type" id="hcp-type">
                <option value="">Please Select</option>
                <option value="general_practitioner" {%if contact.hcp_type=="general_practitioner"%}selected{%endif%}>General Practitioner</option>
                <option value="medical_specialist" {%if contact.hcp_type=="medical_specialist"%}selected{%endif%}>Medical Specialist</option>
                <option value="nurse_or_practitioner" {%if contact.hcp_type=="nurse_or_practitioner"%}selected{%endif%}>Nurse or Practitioner</option>
                <option value="allied_health_profesional" {%if contact.hcp_type=="allied_health_profesional"%}selected{%endif%}>Allied Health Profesional</option>
                <option value="pharmacist" {%if contact.hcp_type=="pharmacist"%}selected{%endif%}>Pharmacist</option>
                <option value="pharmacist_technician" {%if contact.hcp_type=="pharmacist_technician"%}selected{%endif%}>Pharmacist Technician</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ahpra_number">AHPRA Number</label>
              <input type="text" name="ahpra_number" id="ahpra-number" value="{{ contact.ahpra_number }}">
            </div>
            <div class="form-group">
              <label for="practice-name">Practice Name</label>
              <input type="text" name="practice_name" id="practice-name" value="{{ contact.practice_name }}">
            </div>
            <div class="form-group">
              <label for="practice-address">Practice Address</label>
              <input type="text" name="practice_address" id="practice-address" value="{{ contact.practice_address }}">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" name="phone" id="phone" value="{{ contact.phone }}">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" value="{{ contact.email }}">
            </div>
            <div class="form-group custom-select md black">
              <label for="what_is_your_level_of_medicinal_cannabis_education">What is your level of medicinal cannabis
                education?</label>
              <select name="what_is_your_level_of_medicinal_cannabis_education" id="level-of-medicinal-cannabis">
                <option value="">Please Select</option>
                <option value="beginner" {% if contact.what_is_your_level_of_medicinal_cannabis_education=="beginner"
                  %}selected{% endif %}>Beginner</option>
                <option value="intermediate" {% if
                  contact.what_is_your_level_of_medicinal_cannabis_education=="intermediate" %}selected{% endif %}>
                  Intermediate</option>
                <option value="advanced" {% if contact.what_is_your_level_of_medicinal_cannabis_education=="advanced"
                  %}selected{% endif %}>Advanced</option>
              </select>
            </div>
            <div class="form-group custom-select md black">
              <label for="how_many_medicinal_cannabis_scripts_do_you_write_or_dispense_on_average_each_month">How many
                medicinal cannabis scripts do you write or dispense on average each month?</label>
              <select name="how_many_medicinal_cannabis_scripts_do_you_write_or_dispense_on_average_each_month"
                id="medicinal-cannbis-scripts">
                <option value="">Please Select</option>
                <option value="0-20" {% if
                  contact.how_many_medicinal_cannabis_scripts_do_you_write_or_dispense_on_average_each_month=="0-20"
                  %}selected{% endif %}>0-20</option>
                <option value="21-100" {% if
                  contact.how_many_medicinal_cannabis_scripts_do_you_write_or_dispense_on_average_each_month=="21-100"
                  %}selected{% endif %}>21-100</option>
                <option value="More than 100" {% if
                  contact.how_many_medicinal_cannabis_scripts_do_you_write_or_dispense_on_average_each_month=="More than 100"
                  %}selected{% endif %}>More than 100</option>
              </select>
            </div>
            <div class="form-group clearfix multi-input">
              <label for="what_information_do_you_want_from_the_portal" class="title">What information do you want from
                the portal?</label>
              <ul class="checkbox-lists">
                <li>
                  <label class="checkbox-label">General education about medicinal cannabis
                    <input type="checkbox" name="general_education_about_medicinal_cannabis" {%
                      if 'general_education_about_medicinal_cannabis' in
                      contact.what_information_do_you_want_from_the_portal %}checked{% endif %}>
                    <span class="checkbox"></span>
                  </label>
                </li>
                <li>
                  <label class="checkbox-label">Kind product stock status
                    <input type="checkbox" name="kind_product_stock_status" {%
                      if 'kind_product_stock_status' in
                      contact.what_information_do_you_want_from_the_portal %}checked{% endif %}>
                    <span class="checkbox"></span>
                  </label>
                </li>
                <li>
                  <label class="checkbox-label">Information about Kind products
                    <input type="checkbox" name="information_about_kind_products" {%
                      if 'information_about_kind_products' in contact.what_information_do_you_want_from_the_portal
                      %}checked{% endif %}>
                    <span class="checkbox"></span>
                  </label>
                </li>
                <li>
                  <label class="checkbox-label">Prescriber guidance
                    <input type="checkbox" name="prescriber_guidance" {%
                      if 'prescriber_guidance' in contact.what_information_do_you_want_from_the_portal
                      %}checked{% endif %}>
                    <span class="checkbox"></span>
                  </label>
                </li>
                <li>
                  <label class="checkbox-label">Patient support tools
                    <input type="checkbox" name="patient_support_tools" {% if 'patient_support_tools' in
                      contact.what_information_do_you_want_from_the_portal %}checked{% endif %}>
                    <span class="checkbox"></span>
                  </label>
                </li>
              </ul>
            </div>

            <div class="form-group">
              <label for="what_information_do_you_want_from_the_portal_other">Other</label>
              <input type="text" name="what_information_do_you_want_from_the_portal_other"
                value="{{ contact.what_information_do_you_want_from_the_portal_other }}">
            </div>

            <div class="form-group clearfix multi-input mb-0">
              <label for="what_is_your_area_of_interest_relating_to_medical_cannabis" class="title">What is your area of
                interest relating to medicinal cannabis?</label>
              <ul class="checkbox-lists">
                <li>
                  <label class="checkbox-label">Mood Disorder
                    <input type="checkbox" name="mood_disorders" {% if 'mood_disorders' in
                      contact.what_is_your_area_of_interest_relating_to_medical_cannabis %}checked{% endif %}>
                    <span class="checkbox"></span>
                  </label>
                </li>
                <li>
                  <label class="checkbox-label">Sleep
                    <input type="checkbox" name="sleep" {% if 'sleep' in
                      contact.what_is_your_area_of_interest_relating_to_medical_cannabis %}checked{% endif %}>
                    <span class="checkbox"></span>
                  </label>
                </li>

                <li>
                  <label class="checkbox-label">Pain
                    <input type="checkbox" name="pain" {% if 'pain' in
                      contact.what_is_your_area_of_interest_relating_to_medical_cannabis %}checked{% endif %}>
                    <span class="checkbox"></span>
                  </label>
                </li>
              </ul>
            </div>

            <div class="form-group">
              <label for="what_is_your_area_of_interest_relating_to_medical_cannabis_other">Other</label>
              <input type="text" name="what_is_your_area_of_interest_relating_to_medical_cannabis_other"
                value="{{ contact.what_is_your_area_of_interest_relating_to_medical_cannabis_other }}">
            </div>
          </div>

          <div class="section">
            <div class="button-wrap flex justify-center">
               <button type="submit" class="submit-btn update-active-member hs-button black-btn-primary">
                  Update Details
                 <img class="submit-spin" width="18" src="{{ get_asset_url('../../../membership/images/loading.gif') }}">
                </button>
             </div>
          </div>
        </form>
      </div>
    </div>
</div>

{# DEACTIVATE MODAL #}  
<div class="modal distinct" id="deactivate-member-modal">
  <div class="modal-content small text-left">
      <h3>Do you want to deactivate {{ contact.firstname }} account?</h3>
      <p>This will remove all the details from the contact.</p>
     <div class="button-wrap">
      <button type="button" class="deactivate-trigger hs-button black-btn-primary">
        Deactivate
        <img class="submit-spin" width="14" src="{{ get_asset_url('../../../membership/images/loading.gif') }}">
      </button>
      <button type="button" class="close-modal hs-button black-btn-primary">
        Close
      </button>
     </div>
  </div>
</div>
  
<script type="text/javascript" src="{{ get_asset_url('../../js/jquery.validation.min.js') }}"></script>
<script type="module" src="{{ get_asset_url('../../js/admin/active-member-details.js') }}"></script>
{% endblock body %}
