<!--
    templateType: page
    isAvailableForNewContent: true
    screenshotPath: ../images/template-previews/stock-levels.png
-->
{% set template_css = "../../css/templates/product-discounts.css" %}
{% extends '../layouts/base-admin.html' %}

{% block body %}
<div class="padding-content">
  <div class="admin-container product-discount-container">
    <div class="body-content mtb-80">
        <h3 class="text-blue-dark text-center">
          Product discounts
       </h3>
      <div class="" style="text-align: right;" >
        <a href="#" class="hs-button ad-primary small">Save product discounts</a>
      </div>
      
      <form id="product-discounts" action="" class="override-style-form product-discounts">
        <div class="single-product flex">
           <div class="prod-name text-blue-dark font-bold">
                Kind Coco<sup>TM</sup>
            </div>
          <div class="prod-discount-info flex light-secondary-label">
            <div class="price-by-size">
               <label for="product_size_price">RRP per 1ml cartridge</label>
                <input type="text" name="product_size_price" value="$135">
            </div>
            <div class="discounted-price">
               <label for="discount_price">Discount price</label>
                <input type="text" name="discount_price" value="$10">
            </div>
          </div>
        </div>
        <div class="single-product flex">
           <div class="prod-name text-blue-dark font-bold">
                Kind Rufus<sup>TM</sup>
            </div>
          <div class="prod-discount-info flex light-secondary-label">
            <div class="price-by-size">
               <label for="product_size_price">RRP per 10g:</label>
                <input type="text" name="product_size_price" value="$135">
            </div>
            <div class="discounted-price">
               <label for="discount_price">Discount price</label>
                <input type="text" name="discount_price" value="">
            </div>
          </div>
        </div>
        
        <div class="single-product flex">
           <div class="prod-name text-blue-dark font-bold">
                Kind Coco<sup>TM</sup>
            </div>
          <div class="prod-discount-info flex light-secondary-label">
            <div class="price-by-size">
               <label for="product_size_price">RRP per 30g:</label>
                <input type="text" name="product_size_price" value="$120">
            </div>
            <div class="discounted-price">
               <label for="discount_price">Discount price</label>
                <input type="text" name="discount_price" value="$15">
            </div>
          </div>
        </div>
        
  
      </form>
    </div>
  </div>
</div>
{% endblock body %}

