<!--
    templateType: page
    isAvailableForNewContent: false
    label: Admin search 
   screenshotPath: ../images/template-previews/admin-search.png
-->
{% extends '../layouts/base-admin.html' %}

{% block body %}
<div class="padding-content test">
  <div class="loading"></div>
  <div class="admin-container">
    <div class="body-content">
      <div class="search-mem">
        <i class="icon-search"></i>
        <input type="search" id="search_member" name="search_member" class="search-member" placeholder="Search member by name and email">
      </div>
      <div class="filter-heading text-grey font-bold text-center">
        Select one or more Filters:
      </div>

      <div class="member-type">
        <ul class="no-list no-padding flex justify-center">
          <li id="general_practitioner"><a>General Practitioner</a></li>
          <li id="medical_specialist"><a>Medical Specialist</a></li>
          <li id="nurse_or_practitioner"><a>Nurse or Practitioner</a></li>
          <li id="allied_health_profesional"><a>Allied Health Professional</a></li>
          <li id="pharmacist"><a> Pharmacist</a></li>
          <li id="pharmacist_technician"><a>Pharmacist Technician</a></li>
        </ul>
      </div>

      <div class="mem-details-container">
         <div class="mem-lists">
        </div>
      </div>
               
      <div id="pagination" class="pagination text-center">
      </div>
      
    </div>
  </div>
</div>
<script type="module" src="{{ get_asset_url('../../js/admin/search-member.js') }}"></script>
{% endblock body %}