<!--
    templateType: page
    isAvailableForNewContent: false
    screenshotPath: ../images/template-previews/stock-levels.png
-->
{% set template_css = "../../css/templates/stock-levels.css" %}
{% extends '../layouts/base-admin.html' %}

{% block body %}

<div class="notification-bar-message" style="display:none">
  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
    <path d="M1.5 6L4.5 9L11.5 2" stroke="#E0E0E1" stroke-width="2"/>
  </svg>
  <p></p>
</div>
<div class="padding-content">
  <div class="submission-message"></div>
  <div class="loading"></div>
  <div class="admin-container stock-level-container">
    <div class="body-content">
      <h3 class="text-blue-dark text-center">
        update stock levels
      </h3>
      <form id="stock-lists" action="" class="override-style-form stock-lists light-secondary-label">
      </form>
      <div id="pagination" class="pagination text-center"></div>
    </div>
  </div>
</div>
<script type="module" src="{{ get_asset_url('../../js/admin/stock-levels.js') }}"></script>
{% endblock body %}
