<!--
    templateType: page
    isAvailableForNewContent: false
    screenshotPath: ../images/template-previews/stock-levels.png
-->
{% set template_css = "../../css/templates/stock-levels.css" %}
{% extends '../layouts/base-admin.html' %}

{% block body %}
<div class="padding-content">
  <div class="admin-container stock-level-container">
    <div class="body-content">
        <h3 class="text-blue-dark text-center">
          update stock levels
       </h3>
      <form id="stock-lists" action="" class="override-style-form stock-lists light-secondary-label">
        <div class="single-stock flex">
           <div class="product-name text-blue-dark font-bold">
                Kind Coco<sup>TM</sup>
            </div>
            <div class="stock-info custom-select md grey">
                <select name="stock-level">
                  <option value="">Please Select...</option>
                  <option value="low_stock">Low Stock</option>
                  <option value="moderate_stock" selected>Moderate Stock</option>
                  <option value="low_stock">Low Stock</option>
                   <option value="coming_soon">Coming soon</option>
                </select>
               <div class="shipment-info flex">
                <div class="col shipment-col">
                   <label for="next_shipment">Next shipment</label>
                    <select name="next-shipment">
                        <option value="">Please Select</option>
                        <option value="discontinued">Discontinued</option>
                        <option value="restock" selected>Restock</option>
                    </select>
                </div>
                <div class="col time-col">
                  <label for="time">Time</label>
                    <select name="next-shipment">
                        <option value="">Please Select</option>
                        <option value="early">Early</option>
                        <option value="Mid">Mid</option>
                       <option value="late">Late</option>
                    </select>
                 </div>
                 <div class="col month-col">
                  <label for="time">Month</label>
                    <select name="next-shipment">
                      <option value="">Please Select</option>
                      <option value="jan">Jan</option>
                      <option value="feb">Feb</option>
                      <option value="mar">Mar</option>
                      <option value="apr">Apr</option>
                      <option value="may">May</option>
                      <option value="june">June</option>
                      <option value="july">July</option>
                      <option value="aug">Aug</option>
                      <option value="sep">Sep</option> 
                      <option value="Oct">Oct</option>
                      <option value="nov">Nov</option>
                      <option value="dec">Dec</option>
                    </select>
                 </div>
                </div>
            </div>
        </div>
        <div class="single-stock flex">
           <div class="product-name text-blue-dark font-bold">
                Kind Rufus<sup>TM</sup>
            </div>
            <div class="stock-info custom-select md grey">
                <select name="stock-level">
                  <option value="">Please Select...</option>
                  <option value="low_stock">Low Stock</option>
                  <option value="moderate_stock">Moderate Stock</option>
                  <option value="low_stock" selected>Low Stock</option>
                   <option value="coming_soon">Coming soon</option>
                </select>
               <div class="shipment-info flex">
                <div class="col shipment-col">
                   <label for="next_shipment">Next shipment</label>
                    <select name="next-shipment">
                        <option value="">Please Select</option>
                        <option value="discontinued" selected>Discontinued</option>
                        <option value="restock">Restock</option>
                    </select>
                </div>
                <div class="col time-col">
                  <label for="time">Time</label>
                    <select name="next-shipment">
                        <option value="">Please Select</option>
                        <option value="early">Early</option>
                        <option value="Mid">Mid</option>
                       <option value="late">Late</option>
                    </select>
                 </div>
                 <div class="col month-col">
                  <label for="time">Month</label>
                    <select name="next-shipment">
                      <option value="">Please Select</option>
                      <option value="jan">Jan</option>
                      <option value="feb">Feb</option>
                      <option value="mar">Mar</option>
                      <option value="apr">Apr</option>
                      <option value="may">May</option>
                      <option value="june">June</option>
                      <option value="july">July</option>
                      <option value="aug">Aug</option>
                      <option value="sep">Sep</option> 
                      <option value="Oct">Oct</option>
                      <option value="nov">Nov</option>
                      <option value="dec">Dec</option>
                    </select>
                 </div>
                </div>
            </div>
        </div>
        
      </form>
    </div>
  </div>
</div>
{% endblock body %}

