<!--
    templateType: page
    isAvailableForNewContent: false
    screenshotPath: ../images/template-previews/stock-levels.png
-->
{% extends '../layouts/base-admin.html' %}

{% block body %}
<div class="padding-content">
  <div class="admin-container stock-level-container">
    <div class="body-content">
        <h3 class="text-blue-dark">
          update stock goes here
      </h3>
    </div>
  </div>
</div>

{#<section class="o-container">
  <br /><strong>request.full_url:</strong> {{request.full_url}}<br />
  <strong>request.path:</strong> {{request.path}}<br />
  <strong>filtered url:</strong> {{request.full_url|replace(request.path, '')}}
</section> #}



{% endblock body %}

