.learning-modules {
  background: #EBEFE7;
}
.bg-learning-modules{
  padding: 40px 0px 60px 0px;
}
.learning-module-lists ol li,
.learning-module-lists ul li {
  font-size: 12px;
  color: #63666A; 
}
.learning-module-lists ol,
.learning-module-lists ul{
  padding-left: 11px;
}
.learning-module-lists .left{
  max-width: 207px;
}
.learning-module-lists .left img {
  object-fit: cover;
  height: 100%; 
  width: 100%;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}
.learning-module-lists {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 60px;
}
.single-module{
  display: flex;
}
.learning-module-lists .right{
  background: #fff;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  padding: 20px;
  width: 293px;
}
.learning-module-lists .right p,
.learning-module-lists .right p a {
  color: #63666A;
  font-size: 12px;
}
.learning-module-lists .right .content-info,
.learning-module-lists .right .time {
  font-size: 12px;
  color: #63666A;
}
.learning-module-lists .right .time{
  position: relative;
}
.learning-module-lists .right .time:before{
  content: "";
  position: absolute;
  height: 10px;
  width: 11px;
  background: url({{ get_asset_url('../../../images/time.svg') }}) no-repeat center center/contain;
  top: 0;
  bottom: 0;
}

  

