<!--
    templateType: page
    isAvailableForNewContent: true
    label: Member dashboard
   screenshotPath: ../images/template-previews/questionaire.png
-->
{% extends '../layouts/base-member.html' %}

{% block body %}


{% if request_contact.is_logged_in %}
  {% set membership_contact = crm_object(	'contact', request.contact.contact_vid,
    'firstname,
    lastname,
    hcp_type
  ') %}
  {% endif %}
<div class="main-container" >
  <div class="mem-account-details" data-hubspot-contact-id="{{request.contact.contact_vid}}">
    <div class="title text-center">
      <h3>Account Details</h3>
    </div>
    
    <div class="padding-content">
      <div class="inner-content">
        <form method="" id="account-details-form">
           <div class="section form-section">
              <div class="form-two-column-group">
                <div class="form-group">
                  <label for="firstname">First name</label>
                  <input type="text" name="firstname" id="firstname" value="{{membership_contact.firstname}}">
                </div>
                <div class="form-group">
                  <label for="lastname">Last name</label>
                  <input type="text" name="lastname" id="lastname" value="{{membership_contact.lastname}}">
                </div>
              </div>
              <div class="form-group custom-select md">
                  <label for="hcp-type">HCP Type</label>
                  <select name="hcp_type" id="hcp-type">
                    <option value="">Please Select</option>
                    <option value="general_practitioner" {%if contact.hcp_type=="General Practitioner"%}selected{%endif%}>General Practitioner</option>
                    <option value="medical_specialist" {%if contact.hcp_type=="Medical Specialist"%}selected{%endif%}>Medical Specialist</option>
                    <option value="nurse_or_practitioner" {%if contact.hcp_type=="Nurse or Practitioner"%}selected{%endif%}>Nurse or Practitioner</option>
                    <option value="allied_health_profesional" {%if contact.hcp_type=="Allied Health Profesional"%}selected{%endif%}>Allied Health Profesional</option>
                    <option value="pharmacist" {%if contact.hcp_type=="Pharmacist"%}selected{%endif%}>Pharmacist</option>
                    <option value="pharmacist_technician" {%if contact.hcp_type=="Pharmacist Technician"%}selected{%endif%}>Pharmacist Technician</option>
                  </select>
              </div>
             <div class="form-group">
                 <label for="AHPRA_number">AHPRA Number</label>
                 <div class="read-ahpra-num" onmousedown='return false;' onselectstart='return false;'>0491927141533</div>
             </div>
              <div class="form-group">
                <label for="practice-name">Practice Name</label>
                <input type="text" name="practice_name" id="practice-name" value="{{contact.practice_name}}">
              </div>
              <div class="form-group">
                  <label for="practice-address">Practice Address</label>
                  <input type="text" name="practice_address" id="practice-address" value="{{contact.practice_address}}">
              </div>
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" value="{{contact.phone}}">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{contact.email}}">
              </div>
          </div>
          
          <div class="section">
        <button class="submit-btn update-account-details hs-button primary large">
          Update Details
          <img class="submit-spin" width="18" src="{{ get_asset_url('../../images/loading.gif') }}" />
        </button>
<!--         <div class="submission-message"></div> -->
    
      </div>
        </form>
      </div>
    </div>
  
</div>
</div>
<script type="text/javascript" src="{{ get_asset_url('../../js/jquery.validation.min.js') }}"></script>
<script type="module" src="{{ get_asset_url('../../js/member/account-details.js') }}"></script>
{% endblock body %}
