<!--
  templateType: page
  isAvailableForNewContent: true
  label: FAQs
  screenshotPath: ../../images/template-previews/faqs.png
-->
{% extends '../layouts/base-member-green-footer.html' %}

{% block body %}
<main class="body-container-wrapper">

  <div class="faqs">
    <div class="padding-content">
      <div class="content-wrapper">

        {# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
        {% dnd_area 'dnd_area' class='body-container body-container--home', label='Main section' %}

        {% dnd_section %}
          {% dnd_column
            offset=0,
            width=12
          %}
            {% dnd_row %}
              {% dnd_module
                    path="/kind-medical-portal-theme/membership/modules/member/faq-card",
                    offset=0,
                    width=12
                  %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_section %}

        {% end_dnd_area %}
      </div>
    </div>
  </div>



</main>
{% endblock body %}
