<!--
templateType: page
isAvailableForNewContent: false
label: Redirect to Login
screenshotPath: 
-->
{% extends '../layouts/base-redirection-after-logout.html' %}

{% block body %}
<!-- <div class="padding-wrap">
  <div class="register-container">
    <h1 class="km-form-title text-center">Login/Signup</h1>
   <p class="text-center">
     <span> Already have an account? </span>
     <a href="_hcms/mem/login" class="bold sign-in">Sign in 
       <svg width="12" height="10" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 11L12 6M12 6L7 1M12 6L0 6" stroke="black" stroke-width="2"/>
        </svg>
     </a>
   </p>   
   <p class="text-center">
     <span> Have not create an account? </span>
     <a href="/register" class="bold sign-in">Sign up
       <svg width="12" height="10" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 11L12 6M12 6L7 1M12 6L0 6" stroke="black" stroke-width="2"/>
        </svg>
     </a>
   </p>   
  </div>   
</div> -->
{% endblock body %}
