<!--
templateType: page
isAvailableForNewContent: true
label: Redirection
screenshotPath: ../../../images/template-previews/redirection.png
-->
{% extends '../layouts/base-onboarding.html' %}

 {% block body %}
{# {% if contact.is_onboarding_completed == "Yes" %}
<script type="text/javascript">
  setTimeout(function() {
    window.location.href = "/dashboard";
  });
</script>
 {% else %}
<script type="text/javascript">
  setTimeout(function() {
    window.location.href = "/onboarding";
  });
</script>

 {% endif %} #}

{% endblock body %}
