<!--
templateType: page
isAvailableForNewContent: true
label: Membership signup
screenshotPath: 
-->
{% extends '../layouts/base-register.html' %}

{% block body %}
<div class="register-thank-you">
  <div class="padding-content">
    <div class="content-wrapper">
      <div class="flex justify-between content-form-wrap">
          <div class="desc-content">
            {% module "header_description" path="../../modules/global/header-description" %}
          </div>
          <div id="registration-confirmation">
              <div class="submit-message-container">
                <div class="submit-message">
                     {% module "thankyou_message"
                        label="Thank you message"
                        path="@hubspot/rich_text",
                        extra_classes="thankyou_msg"
                        html="<p style='color:#B7CE95; font-weight: bold; text-align: center;'>Thank you for registering</p>
                        <p style='color:#162238; text-align: center;'>Check your inbox for an email from Kind to complete your registration and start accessing the portal.</p>
                        <p style='text-align: center;'>If you need any support <a href='' style='color: #7D9CC0;'>contact us</a></p>"
                      %}
                </div>
                </div>
              <div class="submit-info">
                
                    {% module "submit_description"
                        label="Submit description"
                        path="@hubspot/rich_text",
                        extra_classes="submit_info"
                        html="<p> On Submission we will perform a lookup with AHPRA to confirm membership</p>
                        <p>There are the following outcomes after a registration form is submitted:</p>
                       <ol>
                        <li>AHPRA membership is verified and an automated email is sent to complete sign up</li>
                        <li>AHPRA is not verified and an email is sent to Kind Admin which can be:
                          <ol style='list-style-type: lower-alpha;'>
                            <li>Approved - automated email is sent confirming membership</li>
                            <li>Rejected - automated email is sent rejecting membership</li>
                          </ol>
                        </li>
                        </ol>"
                      %}
<!--                   <p>
                    On Submission we will perform a lookup with AHPRA to confirm membership
                  </p>
                  <p>
                    There are the following outcomes after a registration form is submitted:
                  </p> -->
<!--                   <ol>
                    <li>AHPRA membership is verified and an automated email is sent to complete sign up</li>
                    <li>AHPRA is not verified and and email is sent to kind Admin which can be:
                        <div class="alpha-list flex">
                          <span>a.</span> <span class="list-text">Approved - automated email is sent confirmation membership</span>
                        </div>
                        <div class="alpha-list flex">
                          <span>b.</span> <span class="list-text">Rejected - automated email is sent rejecting membership</span>
                        </div>
                    </li>
                  </ol> -->
                </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
