@font-face {
  font-family: 'FS Me';
  src: url({{ get_asset_url('../../css/fonts/regular/FSMe.eot') }});
  src: url('../../css/fonts/regular/FSMe.eot?#iefix') format('embedded-opentype'),
        url({{ get_asset_url('../../css/fonts/regular/FSMe.woff') }}) format('woff2'),
        url({{ get_asset_url('../../css//fonts/regular/FSMe.woff2') }}) format('woff'),
        url({{ get_asset_url('../../css//fonts/regular/FSMe.ttf') }}) format('truetype'),
        url({{ get_asset_url('../../css/fonts/regular/FSMe.svg') }}) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FS Me';
  src: url({{ get_asset_url('../../css/fonts/light/FSMe-Light.eot') }});
  src: url('../../css/fonts/light/FSMe-Light.eot?#iefix') format('embedded-opentype'),
        url({{ get_asset_url('../../css/fonts/light/FSMe-Light.woff') }}) format('woff2'),
        url({{ get_asset_url('../../css/fonts/light/FSMe-Light.woff2') }}) format('woff'),
        url({{ get_asset_url('../../css/fonts/light/FSMe-Light.ttf') }}) format('truetype'),
        url({{ get_asset_url('../../css/fonts/light/FSMe-Light.svg') }}) format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FS Me';
  src: url({{ get_asset_url('../../css/fonts/bold/FSMe-Bold.eot') }});
  src: url('../../css/fonts/bold/FSMe-Bold.eot?#iefix') format('embedded-opentype'),
        url({{ get_asset_url('../../css/fonts/bold/FSMe-bold.woff') }}) format('woff2'),
        url({{ get_asset_url('../../css/fonts/bold/FSMe-bold.woff2') }}) format('woff'),
        url({{ get_asset_url('../../css/fonts/bold/FSMe-bold.ttf') }}) format('truetype'),
        url({{ get_asset_url('../../css/fonts/bold/FSMe-bold.svg') }}) format('svg');
  font-weight: bold;
  font-style: normal;
} 
/***color style ****/
.dark-accent {
  color: #636569 !important;
}
.light-tertiary {
  color: #7F7F7F;
}

.bg-white{
  background: white;
}
.bg-blue-tint{
  background: #E5EBF2;
}
.text-blue-dark{
  color: #4C6580;
}
.font-small {
  color: #000;
  font-size: 12px;
  line-height: normal;
}
.bg-cover {
 background-size: cover;  
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.bg-top {
  background-position: top;
}
.bg-center{
  background-position: center;
}
.w-full {
  width: 100%;
}
.border-rad-32{
  border-radius: 32px !important;
}
.text-primary {
  color: #11284B;
}
.text-grey {
  color: #63666A;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-25{
  margin-bottom: 25px !important;
}
.mt-10{
  margin-top: 10px;
}
.mt-80{
  margin-top: 80px;
}
.mtb-80{
  margin-top: 80px;
}
.mt-20{
  margin-top: 20px;
}
.mt-30{
  margin-top: 30px;
}
.pt-50{
  padding-top:50px;
}
.pb-20{
  padding-bottom:20px;
}
.font-bold{
  font-weight: bold;
}
.no-underline{
  text-decoration: none;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
ul,
ul ul,
ol, ol,
ol {
  padding-left: 24px;
}

ol > li:not(:last-child) {
  margin-bottom: 24px;
}
ol li ol li {
  margin-bottom: 1px !important;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.inherit-height {
  height: inherit;
}
img {
  max-width: 100%;
}
.d-block {
  display:block;
}
.text-line-through {
  text-decoration: line-through;
}
.flex {
   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.items-center {
  align-items: center;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.position-relative{
  position:relative;
}
.position-absolute{
  position:absolute;
}
.text-center {
  text-align: center;
}
.text-left{
  text-align: left !important;
}
.justify-center {
  justify-content: center;
}
.bold {
  font-weight: 600;
}
.no-sc {
  overflow:hidden;
}
.content-wrapper {
  max-width: 1040px;
  margin: 0 auto;
}
.no-list{
  list-style:none;
}
.no-padding{
  padding: 0;
}
.margin-0 {
  margin: 0;
}
a{
  text-decoration: underline;
  cursor:pointer;
}
a:hover {
  text-decoration: none;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
a[href^="tel:"] {
  color: #666E5A;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
a[href^="tel:"]:before {
  position: absolute;
  width: 18px;
  height: 18px;
  background: url({{ get_asset_url('../images/phone.svg') }}) no-repeat center center/contain;
  content: " ";
  left: -30px;
  top: 1px;
}
h1,h2,h3,h4,h5,h6,p,a {
  font-family: 'FS Me', sans-serif !important;
}
h1,h2,h3,h4,h5,h6 {
  color: #666E5A;
}

/*****end custom css ***/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: 'FS Me', sans-serif;
  font-weight: normal;
  font-style: normal;
  background: #fff;
}
.body-register {
  background: #fff;
}
.body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}
#main-content {
  flex: 1;
  position:relative;
}
.content-wrapper {
  max-width: 1040px;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
  color: #666E5A;
}
a{
  color: #666E5A;
}
p {
  font-size: 16px;
  line-height: normal;
  color: #636569;
  margin-bottom: 20px;
}

h1 {
  font-size: 62px;
  line-height: normal;
  margin-bottom: 30px;
}
h2{
  font-size: 47px;
  line-height: normal;
  margin-bottom: 25px;
}
h3{
  color: #666E5A;
  font-size: 31px;
  line-height: normal;
  font-size: 700;
  margin-bottom: 22px;
}
h4 {
  font-size: 22px;
  line-height: normal;
  margin-bottom: 26px;
}
h5 {
  font-size: 19px;
  line-height: normal;
  margin-bottom: 22px;
  font-weight: bold;
}

.footer .footer-links {
  text-align: center;
  padding: 30px 0px 10px 0px;
}
.footer .footer-links *{
  font-size: 12px;
  color: #7F7F7F;
}
.footer.footer-green {
  width: 100%;
  padding: 120px 0px 5px 0px;
}

/*****LOGIN FORM *******/
.container-wrap {
  padding: 0px 20px;
}
a.hs-button {
  text-decoration:none;
}
.hs-button {
  display: inline-block;
  border-radius: 32px;
  font-style: normal;
  font-weight: 700;
  padding: 13px 23px 12px 23px; 
  font-size: 16px;
  cursor:pointer;
}
.hs-button.primary:focus,
.hs-button.primary:active,
.hs-button.primary{
  background:#B7CD96;
  color: #666E5A;
  border: 1px solid #B7CD96;
}
.hs-button.primary:hover{
  background: #666E5A;
  color: #fff;
  border: 1px solid #666E5A;
}

.hs-button.large {
  font-size: 19px;
  padding: 16px 28px;
}

.hs-button.small {
  font-size: 13px;
  padding: 10px 23px 9px 23px;
}
.hs-button.secondary{
  background:transparent;
  border:2px solid #666E5A;
  color:#666E5A;
}

.hs-button.secondary:hover,
.hs-button.secondary:focus,
.hs-button.secondary:active{
  background:transparent;
  border:2px solid #B7CD96;
  color:#B7CD96;
}
.hs-button.simple{
  color:#666E5A;
  padding: 0px;
}

.hs-button span{
  margin: 2px 10px;
}

.hs-button.button--icon-right span{
  float: right;
}

.black-btn-primary{
  border: none;
  background: #000;
  color: #fff;
  border-radius: 8px;
  padding: 11px 23px 11px;
}
.black-btn-secondary{
  border: 2px solid #000;
  background: transparent;
  border-radius: 8px;
  color: #000;
  padding: 11px 23px 11px;
}
.white-btn-primary {
  border-radius: 8px;
  background: #fff;
  border: 1px solid #fff;
}


.password-reset-request-form form label,
.password-reset-form form label{
  color: #7f7f7f;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.hs-form-field label {
  font-size: 12px;
  color: #515154;
  font-weight: 400;
}
#hs-membership-password-requirements{
  display: none;
}

#account-details-form .submit-btn {
  margin-top: 45px;
}

#hs_login_reset {
  color: #162238;
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 16px;
  margin-bottom: 27px;
  margin-top: 5px;
  text-decoration-line: none;
  position: relative;
  display: inline-block;
}
#hs_login_reset:hover{
  text-decoration: underline;
}

#hs_login_reset::after {
  position: absolute;
  width: 8px;
  height: 8px;
  background: url({{ get_asset_url('../images/right-icon.png') }}) no-repeat center center/contain;
  content: " ";
 right: -9px;
 top: 4px;
}
form input[type='text'], 
form input[type='email'], 
form input[type='password'], 
form input[type='tel'], 
form input[type='number'], 
form input[type='file'], 
form input[type='search'], 
form select, 
form textarea {
    display: inline-block;
    width: 100% !important;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  outline: none;
}
form input[type='search']{
  height: auto;
}
.hs-form-field .hs-error-msgs {
  list-style: none;
  padding: 0;
}
.hs-form-field .no-list li,
.hs-form-field .hs-error-msgs li{
  list-style-type: none;
}
.hs-form-field .hs-error-msgs li label {
  color: red;
}
.register-form form .hs-form-field:nth-of-type(2),
.register-form form .hs-form-field:nth-of-type(4),
.login-form form .hs-form-field:nth-of-type(2),
.password-reset-form form .hs-form-field:nth-of-type(1),
.password-reset-form form .hs-form-field:nth-of-type(3){
  position: relative;
}

.hs-reset-widget-show-password,
.hs-register-widget-show-password,
.hs-login-widget-show-password {
  color: #7f7f7f;
  text-decoration: none;
  font-size: 10px;
  position: absolute;
  right: 0;
/*   text-transform: uppercase; */
  top: 6px;
}
.form-container form .hs-submit .actions {
  text-align: center;
}
.header {
  display: flex;
  justify-content: center;
}
.header .header-logo {
  display: flex;
  justify-content: center;
}
.header.header-register {
  display:block;
}
.header-banner {
  background: #666E5A;
  padding: 15px 0px;
}
.header-banner p:last-child{
  margin-bottom: 0;
}
.header-banner p,
.header-banner h1, .header-banner h2,
.header-banner h3, .header-banner h4,
.header-banner h5, .header-banner h6,
.header-banner p a{
  color: #fff;
}
.logo-with-navigation .header-logo {
  margin-right: 30px;
} 
.header .header-logo img{
  width: 145px;
   height: auto;
}
.
.header.loggedin {
  background: #fff;
  display: block;
}
.header .header-inner {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
.header.not-loggedin {
  height: auto;
  padding: 50px 0px 65px 0px; 
}
.header.header-register{
  padding: 50px 0px 25px 0px; 
}
.form-input-validation-message .no-list {
  padding-left: 0;
}
.form-input-validation-message .no-list li {
  list-style: none;
}
.form-container {
  background: #fff;
  border-radius: 22px; 
  box-shadow: 0 4px 48px rgba(0,0,0,.12); 
  margin: 0 auto;
  padding: 40px 46px 46px 46px; 
  max-width: 400px;
}
.form-container form{
  box-shadow: none;
  padding: 0;
  border-radius: 0;
  background: transparent;
}

form {
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.12);
  padding: 46px 46px;
  border-radius: 22px;
  background: white;
}
form.override-style-form {
  box-shadow: none;
  padding: 0;
  border-radius: 0px;
  background: transparent;
}
.form-title .helper {
  color: #B7CD96;
  font-size: 12px;
  line-height: normal;
  display: inline-block;
}
.form-title h4{
  margin-bottom: 6px;
}
.form-container .form-title {
  margin-bottom: 35px;
}


.login-form .hs-form-field .hs-input, 
.register-form .hs-form-field .hs-input, 
.password-reset-request-form .hs-form-field .hs-input ,
.password-reset-form .hs-form-field .hs-input{
  background: #fff;
  border: 1px solid #c7c7c7;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 17px;
}
.login-form .hs-form-field, 
.register-form .hs-form-field, 
.password-reset-request-form .hs-form-field,
.password-reset-form .hs-form-field{
  margin-bottom: 0;
}


/***Register ******/

.form-two-column-group {
  display: flex;
}
.form-two-column-group .form-group {
  width: 48%;
}
.form-two-column-group .form-group:first-child {
  margin-right: 4%;
}
.km-form-title {
  margin: 20px 0px;
}
.submit-spin {
  display: none;
}
.form-intro {
  font-size: 15px;
  line-height: normal;
  margin-bottom: 20px;
}
.sign-in {
  color: #899970;
  font-size: 14px;
  margin-left: 10px;
}
.sign-in:hover{
  text-decoration: none;
}
.sign-in svg {
  margin-left: 4px;
}
.submit-spin.show {
  display: block;
  float: right;
  margin-left: 10px;
}
.register-container {
  max-width: 447px;
}
.padding-content {
  padding: 0px 20px;
}
.form-section .form-group {
  margin-bottom: 25px;
}
.form-section .form-group.mb-0{
  margin-bottom: 0;
}

.answers .error, 
.form-group .error {
  color: red;
  font-size: 12px;
  text-align: left;
}
.disabled{
  pointer-events: none;
  cursor: not-allowed;
/*   opacity: 0.65;
  filter: alpha(opacity=65); */
  -webkit-box-shadow: none;
  box-shadow: none;
}
.read-ahpra-num {
  border: 1px solid #DBE0D3;
  border-radius: 3px;
  display: block;
  height: 40px;
  padding: 7px 10px 3px 10px;
}

.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' fill='none'%3E%3Cpath stroke='%2311284B' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m11 1.82-5 5-5-5'/%3E%3C/svg%3E)!important;
  background-position: right 1rem top 50%;
  background-repeat: no-repeat;
  background-size: 10px 7px;
}
.custom-select.md select {
  background-size: 13px 9px;
   background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' fill='none'%3E%3Cpath stroke='%23758067' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m11 1.82-5 5-5-5'/%3E%3C/svg%3E)!important;
}

.custom-select.md.black select {
   background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' fill='none'%3E%3Cpath stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m11 1.82-5 5-5-5'/%3E%3C/svg%3E)!important;
}

.form-group label {
  font-size: 12px;
  color: #666E5A;
  display: inline-block;
}
.light-secondary-label .form-group label {
    color: #515154;
    font-size: 12px;
}
.multi-input label.title {
  display: block;
  margin-bottom: 10px;
}

.light-secondary-label .form-group .checkbox-label {
  color: #000;
}
.form-group ul li {
  display: flex;
  margin-bottom: 15px;
  float: left;
  width: 50%;
  align-items: baseline;
}
.form-group ul li input {
  margin-right: 8px;
  color: #758067;
  font-size: 16px;
}
.form-group .heading {
  margin-bottom: 20px;
}
.submit-message-container{
  max-width: 1187px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

.submit-message-container .submit-message {
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.12);
  padding: 40px 50px;
  border-radius: 20px;
  max-width: 447px;
  background: #ffffff;
}
.submit-message-container .submit-message p:last-of-type{
  margin-bottom: 0;
}
.submit-info {
  background: #F3D86E;
  padding: 22px 20px;
  max-width: 320px;
  margin: 127px auto 0;
}
.submit-info ol li,
.submit-info p {
  font-size: 15px;
  line-height: normal;
  color: #000;
}

.admin-header .header-logo {
  margin-right: 30px;
}
.header .navigation ul li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
.header .navigation ul li:not(:last-child){
  margin-right: 30px;
}

.header .navigation ul li.active a {
  padding: 12px 24px;
  background: #F4F4F5;
  font-weight: bold;
  border-radius: 22px;
}
.admin-container{
  max-width: 1040px;
  margin: 0 auto;
}
.admin-container .search-mem {
  margin-top: 45px;
}

.admin-container .member-type {
  margin-top: 30px;
}
.admin-container .member-type ul li,
.admin-container .member-type ul li a {
  font-size: 12px;
  color: #4C6580;
  cursor:pointer;
}
.admin-container .member-type ul li{
  background: #fff;
  border-radius: 16px;
  padding: 20px 12px 20px 13px;
  flex: 1;
  position: relative;
  display:flex;
  align-items: center;
}
.admin-container .member-type ul li a{
  position: relative;
  text-decoration: none;
  width: 100%;
}
 .admin-container .member-type ul li.active a{
   color:#fff;
}
 .admin-container .member-type ul li.active a::after {
   position: absolute;
   width: 12px;
   height: 12px;
   background: url({{ get_asset_url('../images/checked.svg') }}) no-repeat center center/contain;
   content: " ";
   top: 0;
   bottom: 0;
   margin: auto 0;
   right: 2px;
} 

.admin-container .member-lists{
  max-width: 448px;
  margin: 40px auto 0;
}
.admin-container .member-type ul li.active {
  color: #fff !important;
  background: #4C6580;
}


.admin-container .member-type ul li:not(:last-child) {
  margin-right: 14px;
}

.search-learning-products,
.search-products,
.search-articles,
.search-mem {
  max-width: 670px;
  margin: 0 auto;
  position: relative;
}
.search-learning-products input[type="search"],
.search-products input[type="search"],
.search-articles input[type="search"],
.search-mem input[type="search"] {
  padding: 20px 20px 20px 56px;
  width: 100%;
  border-radius: 32px;
  border: none;
  font-size: 16px;
  background-color: #FCFDFC;
  color: #63666A;
  box-shadow: 3px 1px 10px 1px rgba(102, 110, 90, 0.17);
}

.search-learning-products .icon-search,
.search-products .icon-search,
.search-articles .icon-search,
.search-mem .icon-search {
  position: absolute;
  width: 26px;
  height: 26px;
  background: url({{ get_asset_url('../images/search.png') }}) no-repeat center center / contain;
  content: " ";
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 1;
}
.search-products input[type="search"],
.search-articles input[type="search"]{
  border: 1.5px solid #DBE0D3;
  background: #FCFDFC;
}
.search-learning-products input[type="search"]{
  background: #fff;
  border: 1.5px solid #DBE0D3;
/*   box-shadow: none; */
}

.search-articles input[type="search"]{
  box-shadow: none;
}
.main-search {
  max-width: 437px;
  width: 100%;
}

.main-search input[type="search"] {
 padding: 16px 20px 16px 56px;
  width: 100%;
  border-radius: 32px;
  border: 2px solid #DBE0D3;
  font-size: 14px;
}




.main-search .main-icon-search {
  position: absolute;
  height: 26px;
  background: url({{ get_asset_url('../images/mem-search.svg') }}) no-repeat center center / contain;
  content: " ";
  left:15px;
  top: 0px;
  width: 26px;
  margin: auto 0;
  bottom: 0px;
}

.search-mem input[type="search"]::-webkit-input-placeholder {
  font-size: 16px;
  color: #63666A;
}
.search-mem input[type="search"]::-moz-placeholder {
  font-size: 16px;
  color: #63666A;
}
.search-mem input[type="search"]:-ms-input-placeholder {
  font-size: 16px;
  color: #63666A;
}
.search-mem input[type="search"]:-moz-placeholder {
  font-size: 16px;
  color: #63666A;
}
.search-mem input[type="search"]:placeholder {
  font-size: 16px;
  color: #63666A;
}
/***** Main search ******/
.main-search input[type="search"]::-webkit-input-placeholder {
  font-size: 14px;
  color: #666E5A;
}
.main-search input[type="search"]::-moz-placeholder {
  font-size: 14px;
  color: #666E5A;
}
.main-search input[type="search"]:-ms-input-placeholder {
  font-size: 14px;
  color: #666E5A;
}
.main-search input[type="search"]:-moz-placeholder {
  font-size: 14px;
  color: #666E5A;
}
.main-search input[type="search"]:placeholder {
  font-size: 14px;
  color: #666E5A;
}
/*****Admin account details *****/

form .light-secondary-label input::-webkit-input-placeholder {
  font-size: 16px;
  color: #000000;
}
form .light-secondary-label input::-moz-placeholder {
  font-size: 16px;
  color: #000000;
}
form .light-secondary-label input:-ms-input-placeholder {
  font-size: 16px;
  color: #000000;
}
form .light-secondary-label input:-moz-placeholder {
  font-size: 16px;
  color: #000000;
}
form .light-secondary-label input:placeholder {
  font-size: 16px;
  color: #000000;
}
form .read-ahpra-num::-webkit-input-placeholder {
  font-size: 16px;
  color: #758067;
}
form input::-webkit-input-placeholder {
  font-size: 16px;
  color: #758067;
}
form input::-moz-placeholder {
  font-size: 16px;
  color: #758067;
}
form input:-ms-input-placeholder {
  color: #758067;
}
form input:-moz-placeholder {
  font-size: 16px;
  color: #758067;
}
form input:placeholder {
  font-size: 16px;
  color: #758067;
}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'FS Me', sans-serif;
  color: #A1A3A6;
}
textarea::-moz-placeholder { /* Firefox 19+ */
  font-family: 'FS Me', sans-serif;
   color: #A1A3A6;
}
textarea:-ms-input-placeholder { /* IE 10+ */
  font-family: 'FS Me', sans-serif;
   color: #A1A3A6;
}
textarea:-moz-placeholder { /* Firefox 18- */
  font-family: 'FS Me', sans-serif;
   color: #A1A3A6;
}


form .read-ahpra-num,
form textarea,
form select,
form input {
  color: #758067;
  font-size: 16px;
}

form .light-secondary-label select,
form .light-secondary-label textarea,
form .light-secondary-label input {
  color: #000;
}

/***Onboarding****/
.onboarding-container {
  background: url({{ get_asset_url('../images/onboarding.png') }}) no-repeat center center / cover;
  width: 100%;
  height: 100%;
}
.header.admin-header,
.header.mem-header{
  justify-content: flex-start;
  height: 88px;
  background: #fff;
  border-bottom: 1px solid #E0E3DB;
}
.member-navigation nav ul li a {
  font-size: 14px;
  color:#666E5A;
  text-decoration: none;
  cursor: pointer;
}
.member-navigation nav ul li a{
  padding: 16px 16px;
}
.member-navigation nav ul li{
  cursor:pointer;
}
.member-navigation nav ul li a:hover{
  background: #EFF1EB;
  border-radius: 38px;
}
.member-navigation nav ul li a.active{
  color: #666E5A;
  font-weight: bold;
}
.admin-header .member-navigation nav ul li a.active{
  color: #4C6580;
  font-weight: bold;
}


.intro-content .inner{
  max-width: 688px;
  margin: 0 auto;
  padding: 40px 0px;
}
.intro-content p {
  color: #636569;
  font-weight: 300;
}
.recommend-learning {
  padding-top: 40px;
  background: linear-gradient(to bottom, #fff 0%, #EFF1EB 59%);
}
.recommend-learning .top-info a,
.recommend-products .top-info a {
  font-size: 12px;
}
.recommend-products {
  padding: 64px 0px;
}
.recommend-products .top-info .title,
.recommend-learning .top-info .title {
  margin-right: 10px;
}
.three-col .single-col {
  width: 30.51%;
}
.three-col .single-col:not(:last-child) {
  margin-right: 4.23%;
}

.four-col .single-col {
  width: 23.29%;
}
.four-col .single-col:not(:last-child) {
  margin-right: 2.27%;
}
/**modal ****/
.modal {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 100;
}
.modal.distinct{
   background: rgba(0, 0, 0, 0.7);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
.modal .modal-content {
  overflow-y: auto;
  display: block;
  position: relative;
  width: 90%;
  /* margin: 0% auto 0; */
  max-height: 90vh;
  padding: 5px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  width: 688px;
  border-radius: 38px;
  padding: 48px 48px;
  text-align: center;
}
.modal .modal-content.small {
  width: 530px;
}
.modal .modal-content.large {
  width: 1000px;
}

.modal.open {
    display: block;
}

/*** Account details ****/
.mem-account-details{
  margin-top: 60px;
}
.mem-account-details .title{
  margin-bottom: 54px;
}
.mem-account-details form {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
}
.mem-account-details .inner-content{
  max-width: 447px;
  margin: 0 auto;
}
.submission-message{
  font-size: 14px;
/*   margin-top: 10px; */
  font-weight: bold;
/*   border: 1px solid black; */
  display: flex;
  justify-content: end;
  position: absolute;
  top: 10px;
  right: 10px;
}
.submission-message .success-msg {
  color: #270;
  background-color: #DFF2BF;
  padding: 25px 25px;
  border-radius: 8px;
}
.submission-message .error-msg {
  color: #D8000C;
  background-color: #FFBABA;
  padding: 11px 25px;
}
.submission-message .submission-success {
  color: green;
}
.submission-message .submission-error {
  color: red;
}

/***MENU ****/
.primary-menu .sub-menu {
  opacity: 0;
  visibility: hidden;
  height: 0;
  position: absolute;
  top: 87px;
  width: 100%;
  background: white;
  left: 0;
  right: 0;
/*   transition: visibility 0.2s linear, opacity 0.2s linear; */
  z-index: 100;
}

.primary-menu .nav-menu.has-sub-menu.active > .sub-menu {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.primary-menu .sub-menu li {
  background: #fff;
  border-radius: 38px;
  padding: 9px 0px 40px 0px;
  width: 230px;
}
.menu-icon {
  max-width: 24px;
  display: block;
}
.primary-menu .sub-menu li {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
}
.primary-menu .sub-menu .sub-menu__link {
  width: 230px;
  background: #fff; 
  border-radius: 38px; 
  padding: 24px;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.12);
}
.primary-menu .sub-menu .sub-menu__link:not(:last-child){
  margin-right: 30px;
}
.primary-menu .sub-menu .sub-menu__link span{
  display:block;
}
.primary-menu .sub-menu .sub-menu__link .menu-icon {
  margin-bottom:5px;
}
.primary-menu .sub-menu .sub-menu__link .menu-title {
  font-size: 16px;
  color: #666E5A;
  font-weight: bold;
  margin-bottom: 10px;
  word-wrap: break-word;
}
.primary-menu .sub-menu .sub-menu__link .menu-desc {
  font-size: 12px;
  color: #666E5A;
  font-weight: 300;
  word-wrap: break-word;
}

/*** Admin styling ***/
.admin_body-wrapper form .hs-button.primary {
  background: #7D9CC0;
  border: 1px solid #7D9CC0;
  color: #fff;
}

.admin_body-wrapper form .hs-button.primary:hover {
  background: #e5ebf2;
  border: 1px solid #e5ebf2;
}

.hs-button.ad-primary{
  background: #7D9CC0;
  border: 1px solid #7D9CC0;
  color: #fff;
}
.hs-button.ad-primary:hover{
  background: #4C6580;
  border: 1px solid #4C6580;
}

.hs-button.ad-secondary{
  background:transparent;
  border: 2px solid #4C6580;
  color:#4C6580;
}
.hs-button.ad-territory{
  background:#ffffff;
  border: 1px solid #fff;
  color:#4C6580;
}

/***Manual registrations ****/
.stock-level-container .body-content{
  margin: 84px 0px;
}
.mem-details-container {
  max-width: 448px;
  margin: 0 auto;
}
.mem-lists{
  margin-top: 70px;
}
.mem-lists a {
  text-decoration: none;
  text-align: left;
  border-bottom: 1px solid #C1C2C3;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}
.mem-lists .details span {
  display: block;
}
.mem-lists a::after {
  position: absolute;
  width: 12px;
  height: 10px;
  background: url({{ get_asset_url('../images/right-arrow.svg') }}) no-repeat center center/contain;
  content: " ";
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 0;
}
.back-link {
  padding-left: 25px;
}
.back-link:before {
  position: absolute;
  width: 7px;
  height: 12px;
  background: url({{ get_asset_url('../images/back-arrow.svg') }}) no-repeat center center/contain;
  content: " ";
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0px;
}
.mem-content-wrap {
  max-width: 448px;
  margin: 0 auto;
}

.read-time:before,
.learning-module-lists .right .time:before{
   background: url({{ get_asset_url('../images/time.svg') }}) no-repeat left/contain;
}
.read-time {

  font-size: 12px;
  color: #A1A3A6; 
}
.read-time:before{
  bottom: 0;
  content: "";
  height: 13px;
  left: -17px;
  position: absolute;
  top: 2px;
  width: 13px;
}


/**** Hubspot radio styling ****/
ul.inputs-list.multi-container {
  list-style: none;
  padding-left: 0;
}
ul.inputs-list.multi-container li.hs-form-radio label {
  position: relative;
  margin-bottom: 4px;
}
ul.inputs-list.multi-container li.hs-form-radio label span {
  display: inline-block;
  margin-left: 28px; /* Width of the new radio select and any additional spacing on the left */
  margin-right: 16px; /* Additional spacing on the right */
}
/* Hide the original radio select */
ul.inputs-list.multi-container li.hs-form-radio label input {
  height: 24px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 24px;
}
/* Add new radio select */
.hs-form-field {
  margin-bottom: 20px;
}
ul.inputs-list.multi-container li.hs-form-radio label span::before {
  border: 1px solid #DBE0D3;
  content: "";
  height: 14px;
  width: 14px;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 50%;
}

ul.inputs-list.multi-container li.hs-form-radio label span::after {
  border: 3px solid;
  border-radius: 50%;
  content: "";
  left: 4px;
  opacity: 0;
  position: absolute;
  transition: opacity .2s ease-in-out;
  color: #367C3C;
  border-color: #fff;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 2px;
  height: 2px;
}
ul.inputs-list.multi-container li.hs-form-radio label input:checked + span::before {
    border: 1px solid #666E5A;
  background: #666E5A;
}

/* Show when checked */
ul.inputs-list.multi-container li.hs-form-radio label input:checked + span::after {
  opacity: 1;
}
/* Style when focused */
ul.inputs-list.multi-container li.hs-form-radio label input:focus + span::after {
/*   box-shadow: 0 0 0 3px #4D90FE;
  outline: 3px solid transparent;  */
}


/***checkbox styling ******/
input[type=radio],
input[type=checkbox] {
  height: 0;
  visibility: hidden;
  width: 0;
}
ul.checkbox-lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
ul.checkbox-lists li {
  border: 1px transparent solid;
  float: left;
  width:49%;
  margin-bottom: 8px;
  margin-right: 6px;
}
ul.checkbox-lists li:nth-child(2n) {
  margin-right: 0;
}
ul.checkbox-lists li:last-child{
  margin-bottom: 0;
}
.checkbox {
  background-color: transparent;
  border: 1px solid #C4C4C4;
  border-radius: 2px;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
  bottom: 0;
/*   margin: auto 0; */
}
.checkbox-label {
  cursor: pointer;
/*   display: flex !important; */
  font-size: 14px;
  line-height: normal;
  margin-bottom: 0;
  padding-left: 26px;
  position: relative;
  width: 100%;
  height: 26px;
  align-items: center;
  color: #000 !important;
}
.checkbox-label input:checked~.checkbox {
    background-color: #666E5A;
  border: 1px solid #666E5A;
}
.checkbox-label input:checked~.checkbox:after {
    display: block;
}
.checkbox-label .checkbox:after {
  border: solid #fff;
  border-width: 0px 2px 2px 0;
  bottom: 2px;
  height: 10px;
  left: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 5px;
}
.checkbox:after {
  content: "";
  display: none;
  position: absolute;
}
form.form-transparent{
  background:transparent;
  padding: 0;
  box-shadow:none;
  border-radius: 0;
}
form .section .button-wrap {
  margin-top: 100px;
}
.filter-heading {
  font-size: 12px;
  margin: 26px 0px;
}
.pagination ul li:not(:last-child) {
  margin-right: 20px;
}
.pagination ul li a {
  color: #7F7F7F;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.pagination ul li a:hover{
    color: #162238;
}

.pagination .page-next:hover svg path,
.pagination .page-prev:hover svg path {
  stroke: #162238;
} 
.pagination > a {
  margin: 0 8px;
  cursor: pointer;
  color: #7F7F7F;
  text-decoration: none;
}
.pagination > a:hover {
  color: #162238;
}
.pagination > a.active {
  color: #162238;
  font-weight: bold;
}

.body-bg-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -200px;
  height: 100%;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
}
.body-register .footer{
  height: 80px;
}
.signup-page .desc-content,
.register-thank-you .desc-content{
  max-width: 533px;
}
.signup-page .desc-content p,
.register-thank-you .desc-content p{
  max-width: 347px;
}

.signup-page .content-form-wrap {
  padding: 50px 0px 200px 0px;
}
.register-thank-you {
  margin-top: 40px;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  display: none;
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

.loading:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/***questionarie onboarding***/
.question-numbers span:not(:last-child) {
  margin-right: 10px;
}
.star-questionaire .star-quest-btn {
  margin-top: 15px;
}
.questionaire-container .field.answers {
  margin-top: 40px;
}
.question-numbers span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-numbers span.active {
  background: #EBEFE7;
  color: #666E5A;
  font-weight: bold;
}
.question-numbers span {
  border: 2px solid #EBEFE7;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  color: #C1C2C3;
  font-size: 12px;
}
.option-lists {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}
.option-lists .text-option label {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: #63666A;
  padding: 24px 4px;
    width: 100%;
  
}
.option-lists .text-option {
  width: 136px;
  height: 75px;
  border-radius: 48px;
  color: #000;
  margin-right: 28px;
  border: 2.5px solid #EBEFE7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-grow: 1;
}
.option-lists .text-option.active {
  background-color: #EBEFE7;
}
.option-lists .text-option.active label {
  color: #63666A;
  font-weight: 700;
}
.checkbox-option-lists.option-lists .text-option label {
  font-size: 12px;
}
.checkbox-option-lists.option-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.checkbox-option-lists.option-lists.four {
  grid-template-columns: repeat(4, 1fr);
}

.checkbox-option-lists.option-lists .text-option {
  border-radius: 8px;
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
}

#questionaire-form input[type=radio], 
#questionaire-form input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#questionaire-form .button-wrap .next-btn {
    align-self: center;
    margin-top: 34px;
}
.previous-ques {
  color: #666E5A;
  font-size: 12px;
  display: block;
  font-weight: 400;
  background: transparent;
  border: 0;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
}
.previous-ques:hover {
    text-shadow: 0 0 0.2px #666E5A, 0 0 0.2px #666E5A;
}

.question-numbers {
    margin-bottom: 25px;
}
.extra-answer {
    margin-top: 30px;
}
#questionaire-form textarea {
    resize: none;
    width: 100%;
    height: auto;
}
.logo-with-navigation {
  width: 65%;
}
.quick-contact {
  margin-bottom: 30px;
}

/***Notification Bar Message****/
.notification-bar-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--Blue-Dark, #4C6580);
  position: absolute;
  width: 100%;
}

.notification-bar-message > p {
  color: var(--White, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  padding: 14px;
  margin: auto 0;
}

/***Media queries****/
@media(max-width:1160px) {
  .member-navigation nav ul li {
    padding: 10px 14px;
  }
}
@media(max-width:991px) {
  .modal .modal-content {
    padding: 35px 20px;
  }
}
@media(max-width:767px) {
  .submit-message-container .submit-message{
     padding: 40px 50px;
  }
  .not-loggedin {
    padding: 50px 0 40px;
  }
}

@media(max-width: 576px) {
  .form-container {
    padding: 35px 35px;
  }
  .form-two-column-group {
   display: flex;
   flex-direction: column;
  }
  .submit-message-container {
    flex-direction: column;
  }
  .submit-message-container .submit-message{
    margin: 0 auto;
  }
  .submit-info {
    margin: 0 auto;
  }
  .submit-message-container .submit-message{
    margin-bottom: 30px;
  }
}
.member-navigation nav ul {
  margin-bottom: 0;
}
.dnd-section {
    padding: 80px 0px;
}
.dnd-section .dnd-column {
     padding: 0 0px; 
}



/*** color code based on potency *****/
/** HIGH THC **/

.text-light-high-thc {
  color: #A76389;
}
.text-dark-high-thc {
  color: #805574 !important;
}
.bg-light-high-thc{
  background: #EBE0E6;
}
.bg-dark-high-thc{
  background: #805574;
}


.high-thc .dropdown-arrow svg path{
  stroke: #805574;
}
.high-thc.favourite .pd-tag svg path{
  fill:#805574;
}
.high-thc svg rect{
  fill: #EBDBE8;
}

/** MODERATE THC **/
.text-light-moderate-thc {
  color: #F2A900;
}
.text-dark-moderate-thc {
  color: #B87E47;
}
.bg-light-moderate-thc {
  background:#FAEED0;
}
.bg-dark-moderate-thc {
  background:#B87E47;
}

.moderate-thc .dropdown-arrow svg path{
  stroke: #B87E47;
}
.moderate-thc.favourite .pd-tag svg path{
  fill: #B87E47;
}
.moderate-thc .pd-tag svg rect{
  fill: #F9E2AB;
}
.moderate-thc .pd-tag svg path{
  stroke: #B87E47;
}

/** BALANCED THC **/
.text-light-balanced {
  color: #9CAF88;
}
.text-dark-balanced {
  color: #758067;
}
.bg-light-balanced {
  background: #EBEFE7;
}
.bg-dark-balanced {
  background: #758067;
}
.balanced .dropdown-arrow svg path{
  stroke: #758067;
}
.balanced.favourite .pd-tag svg path{
  fill: #758067;
}
.balanced .pd-tag svg rect{
  fill: #d6decfd9;
}
.balanced .pd-tag svg path{
  stroke: #758067;
}


/** MODERATE CBD **/
.text-light-moderate-cbd {
  color: #E6EAF2;
}
.text-dark-moderate-cbd {
  color: #4C6580;
}
.bg-light-moderate-cbd{
  background: #E6EAF2;
}
.bg-dark-moderate-cbd{
  background: #4C6580;
}

.moderate-cbd .dropdown-arrow svg path{
  stroke: #758067;
}
.moderate-cbd.favourite .pd-tag svg path{
  fill: #7D9CC0;
}
.moderate-cbd .pd-tag svg rect{
  fill: #9FAD8C;
}

.moderate-cbd .pd-tag svg path{
  fill: #758067;
}

/** HIGH CBD **/
.text-light-high-cbd {
  color: #8B84D7;
}
.text-dark-high-cbd {
  color: #5E5A80;
}
.bg-light-high-cbd {
  background: #E8E6F7;
}
.bg-dark-high-cbd {
  background: #5E5A80;
}

.high-cbd .dropdown-arrow svg path{
  stroke: #5E5A80;
}
.high-cbd.favourite .pd-tag svg path{
  fill: #5E5A80;
}
.high-cbd .pd-tag svg rect{
  fill: #D9D7E9;
}
.high-cbd .pd-tag svg path{
  stroke: #5E5A80;
}

/**PRODUCT SVG COLOR ***/
/**product size ***/
.high-thc .ps-css svg ellipse,
.high-thc .ps-css svg path {
   stroke: #805574;
}
.moderate-thc .ps-css svg ellipse,
.moderate-thc .ps-css svg path {
  stroke: #b87e47;
}
.balanced .ps-css svg ellipse,
.balanced .ps-css svg path {
  stroke: #758067;
}
.moderate-cbd .ps-css svg ellipse,
.moderate-cbd .ps-css svg path {
  stroke: #4C6580;
}
.high-cbd .ps-css svg ellipse,
.high-cbd .ps-css svg path {
  stroke: #5E5A80;
}



/** Total cannabinoid **/
.high-thc .tc-css svg rect{
  stroke: #805574;
  fill: transparent;
}
.high-thc .tc-css svg path{
  stroke: #805574;
}

.balanced .tc-css svg rect{
  stroke: #758067;
  fill: transparent;
}
.balanced .tc-css svg path{
  stroke: #758067;
}
.moderate-thc .tc-css svg rect {
  stroke: #b87e47;
  fill: transparent;
}
.moderate-thc .tc-css svg path{
   stroke: #b87e47;
}
.moderate-cbd .tc-css svg rect {
  stroke: #4C6580;
  fill: transparent;
}
.moderate-cbd .tc-css svg path {
  stroke: #4C6580;
}

.high-cbd .tc-css svg rect {
  stroke: #5E5A80;
  fill: transparent;
}
.high-cbd .tc-css svg path {
  stroke: #5E5A80;
}


/** Species **/
.high-thc .spec-css.full svg path,
.high-thc .spec-css.half svg path:nth-child(3){
  fill: #805574;
}
.high-thc .spec-css.half svg path{
  stroke:#805574;
}

.moderate-thc .spec-css.half svg path{
  stroke: #b87e47;
}
.moderate-thc .spec-css.full svg path{
  fill: #b87e47;
}
.moderate-thc .spec-css.full svg path{
  stroke: #b87e47;
}
.moderate-thc .spec-css.half svg path:nth-child(3) {
  fill: #b87e47;
}

.balanced .spec-css.half svg path {
  stroke:#758067;
}
.balanced .spec-css.half svg path:nth-child(3) {
  fill:#758067;
}


.moderate-cbd .spec-css.half svg path{
  stroke:#4C6580;
}
.moderate-cbd .spec-css.half svg path:nth-child(3) {
  fill:#4C6580;
}
.high-cbd .spec-css.full svg path,
.high-cbd .spec-css.half svg path:nth-child(3) {
  fill:#5E5A80;
}


/**  cultivar **/
.high-thc .cult-css.not-applicable svg path,
.moderate-thc .cult-css.not-applicable svg path,
.balanced .cult-css.not-applicable svg path,
.moderate-cbd .cult-css.not-applicable svg path,
.high-cbd .cult-css.not-applicable svg path,{
  stroke: #A1A3A6;
}
.cultivar.not-applicable .value {
  color: #A1A3A6;
}
.high-thc .cultivar svg path {
  stroke: #805574;
}
.moderate-thc .cultivar svg path {
  stroke: #b87e47;
}
.balanced .cultivar svg path {
  stroke: #758067;
}
.moderate-cbd .cultivar svg path {
  stroke: #4C6580;
}
.high-cbd .cultivar svg path {
  stroke: #5E5A80;
}


/** stock level icon **/
.high-thc .stock-level-icon svg circle {
  stroke: #805574;
}

.high-thc .stock-level-icon.coming-soon svg circle {
  stroke: #805574;
}
.high-thc .stock-level-icon.coming-soon svg path {
  stroke: #805574;
}
.high-thc .stock-level-icon.low-stock svg path {
  fill: #805574;
  stroke: none;
}

.moderate-thc .stock-level-icon svg circle {
  stroke: #b87e47;
}
.moderate-thc .stock-level-icon.coming-soon svg circle {
  stroke: #b87e47;
}
.moderate-thc .stock-level-icon.low-stock svg path {
  stroke:#b87e47;
}


.balanced .stock-level-icon.coming-soon svg circle {
  stroke: #758067;
}
.balanced .stock-level-icon.coming-soon svg path {
  stroke: #758067;
}
.balanced .stock-level-icon.low-stock svg path {
  fill:#758067;
}
/* .balanced .stock-level-icon svg path {
  fill:#758067;
} */

.moderate-cbd .stock-level-icon.coming-soon svg circle {
  stroke: #4C6580;
}
.moderate-cbd .stock-level-icon.coming-soon svg path {
  stroke: #4C6580;
}
.moderate-cbd .stock-level-icon.low-stock svg path {
  fill:#4C6580;
  stroke: none;
}
.moderate-cbd .stock-level-icon svg path {
  fill:#4C6580;
}


.high-cbd .stock-level-icon.coming-soon svg circle {
  stroke: #5E5A80;
}
.high-cbd .stock-level-icon.coming-soon svg path {
  stroke: #5E5A80;
}

.high-cbd .stock-level-icon.low-stock svg path {
  fill:#5E5A80;
  stroke: none;
}
.high-cbd .stock-level-icon svg path {
  fill:#5E5A80;
}

/** per gram amount dollar **/
.high-thc .pga-css svg path {
  fill:#805574;
  stroke: none;
}
.moderate-thc .pga-css svg path {
  fill:#b87e47;
   stroke: none;
}
.balanced .pga-css svg path  {
  fill:#758067;
   stroke: none;
}
.moderate-cbd .pga-css svg path {
  fill:#4C6580;
   stroke: none;
}
.high-cbd .pga-css svg path {
  fill:#5E5A80;
   stroke: none;
}

/**REPORTED EFFECTS ***/
.high-thc .cal-css svg path {
  stroke: #805574;
}
.high-thc .mind-body-css svg path {
  stroke: #805574;
}
.high-thc .body-css svg path {
  fill: #805574;
}
.high-thc .don-css svg path {
   stroke: #805574;
}
.high-thc .don-css svg circle {
   stroke: #805574;
}

.high-thc .don-css svg path:nth-child(2) {
  stroke: none;
    fill: #805574;
}
.high-thc .don-css svg path:nth-child(3) {
  stroke: none;
    fill: #805574;
}


.moderate-thc .cal-css svg path {
  stroke: #B87E47;
}
.moderate-thc .mind-body-css svg path {
  stroke: #B87E47;
}
.moderate-thc .body-css svg path {
  fill: #B87E47;
}
.moderate-thc .don-css svg path {
   stroke: #B87E47;
}
.moderate-thc .don-css svg circle {
   stroke: #B87E47;
}

.moderate-thc .don-css svg path:nth-child(2) {
  stroke: none;
  fill: #B87E47;
}
.moderate-thc .don-css svg path:nth-child(3) {
  stroke: none;
  fill: #B87E47;
}

.balanced .cal-css svg path {
  stroke: #758067;
}
.balanced .mind-body-css svg path {
  stroke: #758067;
}
.balanced .body-css svg path {
  fill: #758067;
}

.balanced .don-css svg path {
   stroke: #758067;
}
.balanced .don-css svg circle {
   stroke: #758067;
}

.balanced .don-css svg path:nth-child(2) {
  stroke: none;
  fill: #758067;
}
.balanced .don-css svg path:nth-child(3) {
  stroke: none;
  fill: #758067;
}

.moderate-cbd .cal-css svg path {
  stroke: #4C6580;
}
.moderate-cbd .mind-body-css svg path {
  stroke: #4C6580;
}
.moderate-cbd .body-css svg path {
  fill: #4C6580;
}
.moderate-cbd .don-css svg path {
   stroke: #4C6580;
}
.moderate-cbd .don-css svg circle {
   stroke: #4C6580;
}
.moderate-cbd .don-css svg path:nth-child(2) {
  stroke: none;
  fill: #4C6580;
}
.moderate-cbd .don-css svg path:nth-child(3) {
  stroke: none;
  fill: #4C6580;
}

.high-cbd .cal-css svg path {
  stroke: #5E5A80;
}
.high-cbd .mind-body-css svg path {
  stroke: #5E5A80;
}
.high-cbd .body-css svg path {
  fill: #5E5A80;
}
.high-cbd .don-css svg path {
   stroke: #5E5A80;
}
.high-cbd .don-css svg circle {
   stroke: #5E5A80;
}

.high-cbd .don-css svg path:nth-child(2) {
  stroke: none;
  fill: #4C6580;
}
.high-cbd .don-css svg path:nth-child(3) {
  stroke: none;
  fill: #4C6580;
}

/******************** Dominant Terpenes ********************/

.b-Caryophyllene{
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(185, 163, 143, 0.40);
}
.Linalool{
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(204, 191, 217, 0.50);
}
.b-Myrcene{
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(245, 170, 177, 0.40);
}
.a-Humulene{
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(167, 215, 196, 0.60);
}

.Eucalyptol{
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(214, 236, 225, 0.70);
}

.Limonene{
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(254, 237, 166, 0.60);
}

.dominant-terpenes-tags > span{
  padding:1px 2px;
  color: #585A5D;
  text-align: center;
  font-family: "FS Me";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.48px;
  min-width:96px;
}


