{% set all_formats = hubdb_table_column(7946284, 7)  %} 
{% set times_of_use = hubdb_table_column(7946284, 25)  %} 
{% set potencies = hubdb_table_column(7946284, 23)  %} 
{% set reported_effects = hubdb_table_column(7946284, 27)  %}
{% set tga_categories = hubdb_table_column(7946284, 22)  %}


<div class="filter-container">
  <div class="head-topic">
    <p>Select one or more filters:</p>
  </div>
  <div class="filter-box-container flex">

    <!--     Format -->
    <div id="format" class="filter-box position-relative">
      <p class="title">Format:</p>
      <div class="filter-block flex">
        <span id="format-checked-checkbox-count-port">All formats</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
          <path d="M16.6773 8.80566L12.1002 13.3727L7.5232 8.80566L6.11719 10.2117L12.1002 16.1947L18.0833 10.2117L16.6773 8.80566Z" fill="#666E5A"/>
        </svg>
      </div>
      <div id="format-dropbox-container" class="drop-checkbox-container format-drop position-absolute d-none">
        {% for format in all_formats.options  %}
          <div class="checkbox-row flex">
            <div class="flex align-center checkbox-label-wrapper">
              <span class="check-box-icon-wrapper">
                <img src="{{ get_asset_url('../../images/Icons/product_icons/'~format.name~'.svg') }}">
              </span>
              <span><label>{{format.name}}</label></span>
            </div>
            <div class="round-checkbox">
              <input type="checkbox" id="{{format.name}}" value="{{format.name}}">
              <label for="{{format.name}}"></label>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="format-dropbox-container-tag" class="up-arrow format-drop position-absolute d-none"></div>
    </div>

    <!--     Time-of-use -->
    <div id="time-of-use" class="filter-box position-relative">
      <p class="title">Time of use:</p>
      <div class="filter-block flex">
        <span id="time-of-use-checked-checkbox-count-port" >All times</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
          <path d="M16.6773 8.80566L12.1002 13.3727L7.5232 8.80566L6.11719 10.2117L12.1002 16.1947L18.0833 10.2117L16.6773 8.80566Z" fill="#666E5A"/>
        </svg>
      </div>
      <div id="time-of-use-dropbox-container" class="drop-checkbox-container time-of-use-drop position-absolute d-none">
        {% for time_of_use in times_of_use.options  %}
          <div class="checkbox-row flex">
            <div class="flex align-center checkbox-label-wrapper">
              <span class="check-box-icon-wrapper">
                <img src="{{ get_asset_url('../../images/Icons/product_icons/'~time_of_use.name~'.svg') }}">
              </span>
              <span><label>{{time_of_use.name}}</label></span>
            </div>
            <div class="round-checkbox">
              <input type="checkbox" id="{{time_of_use.name}}" value="{{time_of_use.name}}">
              <label for="{{time_of_use.name}}"></label>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="time-of-use-dropbox-container-tag" class="up-arrow time-of-use-drop position-absolute d-none"></div>
    </div>

    <!--     Potency -->
    <div id="potency" class="filter-box position-relative">
      <p class="title">Potency:</p>
      <div class="filter-block flex">
        <span id="potency-checked-checkbox-count-port">All potencies</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
          <path d="M16.6773 8.80566L12.1002 13.3727L7.5232 8.80566L6.11719 10.2117L12.1002 16.1947L18.0833 10.2117L16.6773 8.80566Z" fill="#666E5A"/>
        </svg>
      </div>
      <div id="potency-dropbox-container" class="drop-checkbox-container potency-drop position-absolute d-none">
        {% for potency in potencies.options  %}
          <div class="checkbox-row flex">
            <div class="flex align-center checkbox-label-wrapper">
              <span class="check-box-icon-wrapper">
                <img src="{{ get_asset_url('../../images/Icons/product_icons/'~potency.name~'.svg') }}">
              </span>
              <span><label>{{potency.name}}</label></span>
            </div>
            <div class="round-checkbox">
              <input type="checkbox" id="{{potency.name}}" value="{{potency.name}}">
              <label for="{{potency.name}}"></label>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="potency-dropbox-container-tag" class="up-arrow potency-drop position-absolute d-none"></div>
    </div>
    
    <!--     Reported effects -->
    <div id="Reported-effects" class="filter-box position-relative">
      <p class="title">Reported effects:</p>
      <div class="filter-block flex">
        <span id="Reported-effects-checked-checkbox-count-port">All effects</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
          <path d="M16.6773 8.80566L12.1002 13.3727L7.5232 8.80566L6.11719 10.2117L12.1002 16.1947L18.0833 10.2117L16.6773 8.80566Z" fill="#666E5A"/>
        </svg>
      </div>
      <div id="Reported-effects-dropbox-container" class="drop-checkbox-container Reported-effects-drop position-absolute d-none">
       {% for reported_effect in reported_effects.options  %}
          <div class="checkbox-row flex">
            <div class="flex align-center checkbox-label-wrapper">
              <span class="check-box-icon-wrapper">
                <img src="{{ get_asset_url('../../images/Icons/product_icons/'~reported_effect.name~'.svg') }}">
              </span>
              <span><label>{{reported_effect.name}}</label></span>
            </div>
            <div class="round-checkbox">
              <input type="checkbox" id="{{reported_effect.name}}" value="{{reported_effect.name}}">
              <label for="{{reported_effect.name}}"></label>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="Reported-effects-dropbox-container-tag" class="up-arrow Reported-effects-drop position-absolute d-none"></div>
    </div>
    
    <!--     TGA Category -->
    <div id="TGA-Category" class="filter-box position-relative">
      <p class="title">TGA Category:</p>
      <div class="filter-block flex">
        <span id="TGA-Category-checked-checkbox-count-port">All categories</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
          <path d="M16.6773 8.80566L12.1002 13.3727L7.5232 8.80566L6.11719 10.2117L12.1002 16.1947L18.0833 10.2117L16.6773 8.80566Z" fill="#666E5A"/>
        </svg>
      </div>
      <div id="TGA-Category-dropbox-container" class="drop-checkbox-container TGA-Category-drop position-absolute d-none">
       {% for tga_category in tga_categories.options  %}
          <div class="checkbox-row flex">
            <div class="flex align-center checkbox-label-wrapper">
              <span><label>{{tga_category.name}}</label></span>
            </div>
            <div class="round-checkbox">
              <input type="checkbox" id="{{tga_category.name}}" value="{{tga_category.name}}">
              <label for="{{tga_category.name}}"></label>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="TGA-Category-dropbox-container-tag" class="up-arrow TGA-Category-drop position-absolute d-none"></div>
    </div>
  </div>
</div>