<!--
    templateType: global_partial
    isAvailableForNewContent: false
    label: Membership portal footer
-->
<!-- Begin partial -->
<footer class="footer">
  <div class="content-wrapper">
    <div class="footer-links">
      {% module_block module 'footer_link'
              label='Footer link',
              path='@hubspot/rich_text'
            %}
      {% module_attribute 'html' %}
      <p>&copy; {{year}} Kind Medical | <a href="/terms-and-conditions" target="_blank">Privacy Policy</a></p>
      {% end_module_attribute %}
      {% end_module_block %}
    </div>
  </div>
</footer>
<!-- End partial -->